<mat-card fxLayout="column">
  <div class="table-header" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>
      <h2 class="mat-headline center-align">THÔNG TIN CHUẨN BỊ AO</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <h4 class="subtitle">Nhập chi tiết thông tin chuẩn bị ao của bạn</h4>
    </mat-card-subtitle>
  </div>
  <div fxLayout="row">
    <div fxFlexOffset="20" fxFlex="60" fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset.sm="10" fxFlex.sm="80"
      fxFlexOffset.md="15" fxFlex.md="70">
      <div>
        <form [formGroup]="form" style="font-size:20px">
          <mat-card-content fxLayout="column">
            <mat-form-field>
              <mat-select [(value)]="selected" placeholder="Ao nuôi" [formControl]="form.controls['pond']">
                <mat-option>None</mat-option>
                <mat-option value="option1">Ao nuôi 1</mat-option>
                <mat-option value="option2">Ao nuôi 2</mat-option>
                <mat-option value="option3">Ao nuôi 3</mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="form.controls['pond'].hasError('required') && form.controls['pond'].touched" class="mat-text-warn">Chưa
              chọn ao nuôi.</small>
            <mat-form-field>
              <mat-select [(value)]="selected" placeholder="Vụ nuôi" [formControl]="form.controls['season']">
                <mat-option>None</mat-option>
                <mat-option value="option1">Vụ nuôi 1</mat-option>
                <mat-option value="option2">Vụ nuôi 2</mat-option>
                <mat-option value="option3">Vụ nuôi 3</mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="form.controls['season'].hasError('required') && form.controls['season'].touched" class="mat-text-warn">Chưa
              chọn vụ nuôi.</small>
            <mat-form-field>
              <input matInput placeholder="Tên công việc" type="text" [formControl]="form.controls['pondprepareName']">
            </mat-form-field>
            <small *ngIf="form.controls['pondprepareName'].hasError('required') && form.controls['pondprepareName'].touched" class="mat-text-warn">Tên
              công việc không được trống.</small>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Ngày chuẩn bị" [formControl]="form.controls['dateprepare']">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <small *ngIf="form.controls['dateprepare'].hasError('required') && form.controls['dateprepare'].touched"
              class="mat-text-warn">Ngày chuẩn bị không được trống.</small>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutGap.sm="0"
              fxLayoutGap.xs="0">
              <mat-form-field fxFlex="100">
                <mat-select [(value)]="selected" placeholder="Nguyên, vật liệu" [formControl]="form.controls['materialname']">
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Thuốc diệt rong</mat-option>
                  <mat-option value="option2">Vôi tôi</mat-option>
                  <mat-option value="option3">Komix</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Số lượng" type="number" [formControl]="form.controls['quantity']">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutGap.sm="0"
              fxLayoutGap.xs="0">
              <div fxFlex="100">
                <small *ngIf="form.controls['materialname'].hasError('required') && form.controls['materialname'].touched"
                  class="mat-text-warn">Nguyên, vật liệu không được trống.</small>
              </div>
              <div fxFlex="100">
                  <small *ngIf="form.controls['quantity'].hasError('required') && form.controls['quantity'].touched" class="mat-text-warn">Số
                      lượng không được trống.</small>
              </div>
            </div>
          </mat-card-content>
          <hr>
          <mat-card-actions>
            <div fxLayout="row" fxLayoutAlign="center center" class="pad">
              <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Thêm</button>
              <button mat-raised-button color="warn" routerLink="/quan-ly-chuan-bi-ao">Huỷ</button>
            </div>
          </mat-card-actions>
        </form>
      </div>
    </div>
  </div>

</mat-card>