<div fxLayout="row wrap">
  <!-- bar -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <mat-card-title>Bar</mat-card-title>
      <mat-card-subtitle>Basic</mat-card-subtitle>
      <mat-card-content>
        <canvas height="200" baseChart class="chart"
          attr.datasets="barChartData"
          attr.labels="barChartLabels"
          attr.options="barChartOptions"
          attr.colors="lineChartColors"
          attr.legend="barChartLegend"
          attr.chartType="barChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- bar -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <mat-card-title>Bar</mat-card-title>
      <mat-card-subtitle>Horizontal</mat-card-subtitle>
      <mat-card-content>
        <canvas height="200" baseChart class="chart"
          attr.datasets="barChartData"
          attr.labels="barChartLabels"
          attr.options="barChartHorizontalOptions"
          attr.colors="lineChartColors"
          attr.legend="barChartLegend"
          attr.chartType="barChartHorizontalType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- bar -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <mat-card-title>Bar</mat-card-title>
      <mat-card-subtitle>Stacked</mat-card-subtitle>
      <mat-card-content>
        <canvas height="200" baseChart class="chart"
          attr.datasets="barChartData"
          attr.labels="barChartLabels"
          attr.options="barChartStackedOptions"
          attr.colors="lineChartColors"
          attr.legend="barChartLegend"
          attr.chartType="barChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- line -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <mat-card-title>Line</mat-card-title>
      <mat-card-subtitle>Basic</mat-card-subtitle>
      <mat-card-content>
        <canvas height="200" baseChart class="chart"
          attr.datasets="lineChartData"
          attr.labels="lineChartLabels"
          attr.options="lineChartOptions"
          attr.colors="lineChartColors"
          attr.legend="lineChartLegend"
          attr.chartType="lineChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- line -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <mat-card-title>Line</mat-card-title>
      <mat-card-subtitle>Stepped</mat-card-subtitle>
      <mat-card-content>
        <canvas height="200" baseChart class="chart"
          attr.datasets="lineChartSteppedData"
          attr.labels="lineChartLabels"
          attr.options="lineChartOptions"
          attr.colors="lineChartColors"
          attr.legend="lineChartLegend"
          attr.chartType="lineChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- line -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <mat-card-title>Line</mat-card-title>
      <mat-card-subtitle>Points</mat-card-subtitle>
      <mat-card-content>
        <canvas height="200" baseChart class="chart"
          attr.datasets="lineChartPointsData"
          attr.labels="lineChartLabels"
          attr.options="lineChartPointsOptions"
          attr.colors="lineChartColors"
          attr.legend="lineChartLegend"
          attr.chartType="lineChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- mixed -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <mat-card-title>Mixed</mat-card-title>
      <mat-card-subtitle>Mix different charts</mat-card-subtitle>
      <mat-card-content>
        <canvas height="200" baseChart class="chart"
          attr.datasets="ComboChartData"
          attr.labels="lineChartLabels"
          attr.options="ComboChartOptions"
          attr.colors="lineChartColors"
          attr.legend="lineChartLegend"
          attr.chartType="barChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- bubble -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <mat-card-title>Bubble</mat-card-title>
      <mat-card-subtitle>Display three dimensions of data</mat-card-subtitle>
      <mat-card-content>
        <canvas height="200" baseChart class="chart"
          attr.datasets="bubbleChartData"
          attr.labels="lineChartLabels"
          attr.options="lineChartOptions"
          attr.colors="lineChartColors"
          attr.legend="lineChartLegend"
          attr.chartType="bubbleChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- doughnut -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <mat-card-title>Doughnut</mat-card-title>
      <mat-card-subtitle>Pie chart with a cutout</mat-card-subtitle>
      <mat-card-content>
        <canvas height="200" baseChart class="chart"
          attr.data="doughnutChartData"
          attr.labels="doughnutChartLabels"
          attr.options="doughnutOptions"
          attr.colors="doughnutChartColors"
          attr.chartType="doughnutChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- pie -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <mat-card-title>Pie</mat-card-title>
      <mat-card-subtitle>Without the cutout</mat-card-subtitle>
      <mat-card-content>
        <canvas height="200" baseChart class="chart"
          attr.data="pieChartData"
          attr.options="doughnutOptions"
          attr.colors="doughnutChartColors"
          attr.labels="pieChartLabels"
          attr.chartType="pieChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- polar -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <mat-card-title>Polar area</mat-card-title>
      <mat-card-subtitle>Each segment has the same angle</mat-card-subtitle>
      <mat-card-content>
        <canvas height="200" baseChart class="chart"
          attr.data="polarAreaChartData"
          attr.options="doughnutOptions"
          attr.colors="doughnutChartColors"
          attr.labels="polarAreaChartLabels"
          attr.legend="polarAreaLegend"
          attr.chartType="polarAreaChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- radar -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <mat-card-title>Radar</mat-card-title>
      <mat-card-subtitle>Multiple data points and the variation between them</mat-card-subtitle>
      <mat-card-content>
        <canvas height="200" baseChart class="chart"
          attr.datasets="radarChartData"
          attr.options="globalChartOptions"
          attr.colors="lineChartColors"
          attr.labels="radarChartLabels"
          attr.chartType="radarChartType"></canvas>
      </mat-card-content>
    </mat-card>
  </div>
</div>