<mat-card fxLayout="column">
  <mat-toolbar class="table-header" fxLayout="row">
    <h1 class="mat-headline center-align" fxFlex='100'>Quản lý thu hoạch</h1>
    <a mat-flat-button color="white" routerLink="/quan-ly-thu-hoach/them-chi-tiet-thu-hoach" matTooltip="Thêm mới thu hoạch"
      matTooltipPosition="above" fxFlex style="margin-right: 10px">
      <mat-icon>library_add</mat-icon>
    </a>
  </mat-toolbar>
  <div fxLayout="row">
    <mat-sidenav-container class="background-none shadow-none">
      <mat-sidenav #productsnav [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" class="pa-0 ma-0">
        <hr>
        <div class="pa-1" fxLayout="column">
          <mat-form-field fxFlex="100">
            <mat-select [(value)]="selected" placeholder="Tên ao nuôi">
              <mat-option>None</mat-option>
              <mat-option value="option1">Ao 1</mat-option>
              <mat-option value="option2">Ao 2</mat-option>
              <mat-option value="option3">Ao 3</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <mat-select [(value)]="selected" placeholder="Tên vụ nuôi">
              <mat-option>None</mat-option>
              <mat-option value="option1">Vụ nuôi 1</mat-option>
              <mat-option value="option2">Vụ nuôi 2</mat-option>
              <mat-option value="option3">Vụ nuôi 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <hr>
        <div class="pa-1">
          <h3 class="mt-1">Sắp xếp theo ngày</h3>
          <div class="pb-1">
            <mat-checkbox>Tăng dần</mat-checkbox>
          </div>
          <div class="pb-1">
            <mat-checkbox>Giảm dần</mat-checkbox>
          </div>
        </div>
        <hr>

        <div class="pa-1">
          <button mat-raised-button class="mat-green-700">Lọc</button>
        </div>

      </mat-sidenav>
      <mat-toolbar color="primary" fxHide="false" fxHide.gt-sm>
        <button (click)="productsnav.toggle()" mat-icon-button>
          <mat-icon>short_text</mat-icon>
        </button>
        <span class="mr-1 ml-1">Lọc</span>
      </mat-toolbar>
      <!-- <div fxLayout="row">
        <div fxFlexOffset="10" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.sm="10px"
          fxLayoutGap.xs="0">
          <mat-form-field fxFlex="100">
            <mat-select [(value)]="selected" placeholder="Tên ao nuôi">
              <mat-option>None</mat-option>
              <mat-option value="option1">Ao 1</mat-option>
              <mat-option value="option2">Ao 2</mat-option>
              <mat-option value="option3">Ao 3</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <mat-select [(value)]="selected" placeholder="Tên vụ nuôi">
              <mat-option>None</mat-option>
              <mat-option value="option1">Vụ nuôi 1</mat-option>
              <mat-option value="option2">Vụ nuôi 2</mat-option>
              <mat-option value="option3">Vụ nuôi 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->
      <div fxLayout="row" fxFlex>
        <br>
      </div>
      <div fxLayout="row wrap">
        <div fxFlex.gt-md="33.33%" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" *ngFor="let pond of ponds">
          <mat-card>
            <div fxLayout="row">
              <div class="pa-1" fxFlex>
                <div fxLayout="row">
                  <div fxFlex="100">
                    <h4 class="ma-0" style="text-transform: uppercase;">{{ pond.name }}</h4>
                  </div>
                  <!-- <a routerLink="/quan-ly-thu-hoach/them-chi-tiet-thu-hoach" matTooltip="Nhập chi tiết thu hoạch"
                    matTooltipPosition="above" style="margin-right:5px">
                    <mat-icon style="color:cornflowerblue">library_books</mat-icon>
                  </a> -->
                  <a routerLink="/quan-ly-thu-hoach/sua-chi-tiet-thu-hoach" matTooltip="Sửa" matTooltipPosition="above">
                    <mat-icon>create</mat-icon>
                  </a>
                </div>
                <div class="text-date" fxLayout="row" fxLayoutAlign="end end">
                  <span>29-10-2018</span>
                </div>
                <hr style="border: 0.5px solid rgb(177, 170, 170)">
                <br>
                <div fxLayout="column">
                  <p><span><b>Loài thu hoạch:</b> Tôm sú</span></p>
                  <p><span><b>Số lượng:</b> 22</span></p>
                  <p><span><b>Giá đơn vị:</b> 22,000 vnđ</span></p>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-sidenav-container>
  </div>
  <br>
</mat-card>