<mat-card fxLayout="column">
    <mat-toolbar color="primary" class="table-header" fxLayout="row">
        <h1 class="mat-headline center-align" fxFlex='100'>Quản lý thu hoạch</h1>
        <a mat-flat-button color="white" routerLink="/quan-ly-thu-hoach/them-chi-tiet-thu-hoach" matTooltip="Thêm mới thu hoạch"
            matTooltipPosition="above" fxFlex style="margin-right: 10px">
            <mat-icon>library_add</mat-icon>
        </a>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="preloader" color="accent"></mat-progress-bar>
    <mat-sidenav-container class="background-none shadow-none height">
        <!-- <div *ngIf="isBoss" class="mr">
              <form>
                  <mat-form-field>
                      <mat-select placeholder="Vụ nuôi" [(ngModel)]="seasonPresent" [ngModelOptions]="{standalone: true}">
                          <mat-option *ngFor="let s of seasons" [value]="s" (click)="changeSeason(s)">
                              {{ s.seasonName }}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
              </form>
          </div>
          <mat-divider *ngIf="isBoss"></mat-divider> -->
        <div fxLayout="row" fxFlex="100" class="mr-top">
            <div *ngIf="isBoss" fxFlexOffset="6" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutGap="20px"
                fxLayoutGap.sm="10px" fxLayoutGap.xs="0">
                <form>
                    <mat-form-field>
                        <mat-select placeholder="Vụ nuôi" [(ngModel)]="seasonPresent" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let s of seasons" [value]="s" (click)="changeSeason(s)">
                                {{ s.seasonName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
        </div>
        <br>
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="25" fxFlex.gt-xs="33.3333%" fxFlex="100" *ngFor="let pond of ponds">
                <mat-card>
                    <div class="media-grid">
                        <figure>
                            <img [src]="pond.images" height="150px" width="100%" style="background-size: cover">
                            <figcaption>
                                <p>
                                    <a href="javascript:;" matTooltip="Thêm thu hoạch" (click)="gotoAdd(pond.pondUUId)"
                                        matTooltipPosition="left">
                                        <mat-icon>attach_money</mat-icon>
                                    </a>
                                    <a href="javascript:;" matTooltip="Xem thống kê" matTooltipPosition="left">
                                        <mat-icon>timeline</mat-icon>
                                    </a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex>
                                <p class="ma-0">{{ pond.pondName }}</p>
                                <p class="ma-0 pa-0 text-md">Tôm</p>
                            </div>
                            <div class="mat-text-primary text-xl">
                                <span class="strikethrough mat-text-muted text-sm">$ 20.3</span>
                                <!-- <span class="strikethrough mat-text-muted text-sm" *ngIf="product.discounted === 'discounted'">$ 20.3</span> -->
                                <span> $ 15.2</span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-container>
    <br>
</mat-card>