<mat-card fxLayout="column">
  <mat-toolbar color="primary" class="table-header" fxLayout="row">
    <h1 class="mat-headline center-align" fxFlex='100'>Quản lý nhân viên</h1>
    <a mat-flat-button color="white" (click)="addPondRolesDialog()" matTooltip="Thêm tài khoản" matTooltipPosition="above" style="margin-right: 5px;">
      <mat-icon>library_add</mat-icon>
    </a>
  </mat-toolbar>
  <hr>
  <div fxLayout="row" fxLayoutAlign="end end" class="mr-20">
    <h3 fxFlex="100" fxLayoutAlign="center center"><span>Thông Tin Nhân Viên</span></h3>
  </div>
  <div fxLayout="row">
    <div class="mat-elevation-z8 mr-top" matSort fxFlex="100">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ Và Tên </th>
          <td mat-cell *matCellDef="let element">{{ element.lastname }} {{ element.firstname }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="pond">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ao Quản Lý</th>
          <td mat-cell *matCellDef="let element">
            {{ element.pond.pondName }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Hành Động</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="changePondDialog(element.pond.ponduserroles.pondUserRolesId)">Đổi ao</button>
            <button mat-button (click)="deleteRoles(element.pond.ponduserroles.pondUserRolesId)">Thu hồi</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</mat-card>