<mat-card fxLayout="column">
  <mat-toolbar class="table-header" fxLayout="row">
    <h1 class="mat-headline center-align" fxFlex='100'>Quản lý nhân viên</h1>
    <a mat-flat-button color="white" routerLink="/quan-ly-nhan-vien/them-tai-khoan" matTooltip="Thêm tài khoản" matTooltipPosition="above" style="margin-right: 5px;">
      <mat-icon>library_add</mat-icon>
    </a>
  </mat-toolbar>
  <hr>
  <div fxLayout="row" fxLayoutAlign="end end" class="mr-20">
    <h3 fxFlex="100" fxLayoutAlign="center center"><span>Thông Tin Nhân Viên</span></h3>
  </div>
  <div fxLayout="row">
    <div class="mat-elevation-z8 mr-top" matSort fxFlex="100">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</mat-card>