<mat-card fxLayout="column">
    <mat-toolbar class="table-header" fxLayout="row">
        <h1 class="mat-headline center-align" fxFlex='100'>THỐNG KÊ THU HOẠCH</h1>
        <a mat-flat-button routerLink="/quan-ly-thu-hoach" color="white" matTooltip="Trở lại" matTooltipPosition="above">
            <mat-icon>reply</mat-icon>
        </a>
    </mat-toolbar>
    <div fxLayout="row">
        <mat-sidenav-container class="background-none shadow-none" style="min-width: 100%">
            <div fxLayout="row wrap">
                <div fxFlex.gt-md="25%" fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                    <mat-card>
                        <div fxLayout="row">
                            <div class="pa-1" fxFlex>
                                <div fxLayout="row">
                                    <div fxFlex="100">
                                        <h4 class="ma-0" style="text-transform: uppercase;">a</h4>
                                    </div>
                                    <a routerLink="/quan-ly-thu-hoach/sua-chi-tiet-thu-hoach" matTooltip="Sửa"
                                        matTooltipPosition="above">
                                        <mat-icon>create</mat-icon>
                                    </a>
                                </div>
                                <div class="text-date" fxLayout="row" fxLayoutAlign="end end">
                                    <span>29-10-2018</span>
                                </div>
                                <hr style="border: 0.5px solid rgb(177, 170, 170)">
                                <br>
                                <div fxLayout="column">
                                    <p><span><b>Số lượng:</b> 22</span></p>
                                    <p><span><b>Giá đơn vị:</b> 22,000 vnđ</span></p>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </mat-sidenav-container>
    </div>
    <br>
</mat-card>