<mat-card *ngFor="let formBreed of arrFormBreed">
    <form [formGroup]="formBreed.form" (ngSubmit)="onSubmitBreedAll()" (click)="changeFilteredOptionBreed(formBreed.position)">
        <div class="mr-top-10" fxFlex="1 0 auto" fxFlex="98" fxFlexOffset="1" fxLayout="row" fxLayoutAlign="wrap">
            <div fxLayout="column" fxFlex="50">
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <mat-form-field fxFlex="48" fxFlexOffset="1">
                        <input (keyup)="setAutocomplete($event.target.value, formBreed.position)" type="text" placeholder="Tên Giống" aria-label="Tên Giống" matInput [formControl]="formBreed.form.controls['breedName']"
                            #tenGiong [matAutocomplete]="autoBreed" required>
                        <mat-autocomplete #autoBreed="matAutocomplete" [displayWith]="displayFnBreed">
                            <mat-option (click)="setAutocomplete(breed, formBreed.position)" *ngFor="let breed of filteredOptionBreed | async" [value]="breed">
                                {{breed.breedName}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field fxFlex="48" fxFlexOffset="1">
                        <mat-select placeholder="Đơn vị tính" required value="u.value" #donViTinh [formControl]="formBreed.form.controls['unit']">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let unit of unitBreed" [value]="unit.value">
                                {{unit.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <mat-form-field fxFlex="48" fxFlexOffset="1">
                        <mat-label>Số lượng</mat-label>
                        <input matInput placeholder="Số lượng" value="" #soLuong required autocomplete="off"
                            [formControl]="formBreed.form.controls['quantity']">
                    </mat-form-field>
                    <mat-form-field fxFlex="48" fxFlexOffset="1">
                        <mat-label>Giá/Đơn vị tính</mat-label>
                        <input matInput placeholder="Giá trên một đơn vị tính" #giaDonVi value="" required autocomplete="off"
                            [formControl]="formBreed.form.controls['unitPrice']">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <mat-form-field fxFlex="48" fxFlexOffset="1">
                        <mat-label>Vòng đời</mat-label>
                        <input matInput placeholder="Vòng đời" value="" #vongDoi required autocomplete="off"
                            [formControl]="formBreed.form.controls['loopOfBreed']">
                    </mat-form-field>
                    <mat-form-field fxFlex="48" fxFlexOffset="1">
                        <mat-label>Cơ quan kiểm định</mat-label>
                        <input matInput placeholder="Cơ quan kiểm định" value="" #coQuanKiemDinh required autocomplete="off"
                            [formControl]="formBreed.form.controls['testingAgency']">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="column" fxFlex="50">
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <mat-form-field fxFlex="98" fxFlexOffset="1">
                        <mat-label>Địa chỉ cung cấp giống</mat-label>
                        <input matInput placeholder="Địa chỉ cung cấp giống" value="" #diaChiMua required autocomplete="off"
                            [formControl]="formBreed.form.controls['soldAddress']">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <mat-form-field fxFlex="98" fxFlexOffset="1">
                        <mat-label>Mô tả</mat-label>
                        <textarea #moTa rows="5" matInput placeholder="Mô tả chi tiết về giống..." [formControl]="formBreed.form.controls['descriptions']"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <mat-divider></mat-divider>
        </div>
        <button type="submit" hidden class="mat-green-700">
        </button>
    </form>
</mat-card>
<div fxLayout="row">
    <mat-chip-list>
        <mat-chip class="mat-green-700 mr-5" selected (click)="addFormBreed()" matTooltip="Nhấn để thêm một loài"
            matTooltipPosition="right">
            <mat-icon>add_circle_outline</mat-icon>
        </mat-chip>
    </mat-chip-list>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="90">
        <button mat-button type="button" matTooltip="Gửi" (click)="onSubmitBreedAll()" class="mat-blue-500 mr-5">
            <mat-icon>send</mat-icon>
        </button>
        <button mat-button type="button" (click)="back()" matTooltip="Hủy" class="mat-pink-700 mr-5">
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
</div>