<!-- <mat-card fxLayout="column">
    <mat-toolbar color="primary" class="table-header" fxLayout="column">
        <h1 fxLayout="row" fxLayoutAlign="center center" fxFlex="100"><b>NHẬT KÝ AO - {{ pond.pondName | uppercase }}</b></h1>
        <h6 fxLayout="row" fxLayoutAlign="center center" fxFlex="100" style="font-size: 13px; opacity: 0.85;"><i>Chức năng xem thống kê nhật ký đã được ghi nhận của ao</i></h6>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="preloader" color="accent"></mat-progress-bar>
    <div>

    </div>
</mat-card> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span fxFlex fxShow="false" fxShow.gt-xs>{{ viewDate | calendarDate:(view + 'ViewTitle'):'vi' | uppercase }}</span>

        <div fxShow="false" fxShow.gt-xs>
            <button mat-button (click)="view = 'month'" [class.active]="view === 'month'">Tháng</button>
            <button mat-button (click)="view = 'week'" [class.active]="view === 'week'">Tuần</button>
            <button mat-button (click)="view = 'day'" [class.active]="view === 'day'">Ngày</button>
        </div>

        <div fxHide="false" fxHide.gt-xs>
            <button mat-icon-button (click)="view = 'month'" [class.active]="view === 'month'">
                <mat-icon>view_module</mat-icon>
            </button>
            <button mat-icon-button (click)="view = 'week'" [class.active]="view === 'week'">
                <mat-icon>view_week</mat-icon>
            </button>
            <button mat-icon-button (click)="view = 'day'" [class.active]="view === 'day'">
                <mat-icon>view_day</mat-icon>
            </button>
        </div>

        <span fxFlex fxHide="false" fxHide.gt-xs></span>

        <button mat-icon-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-icon-button mwlCalendarToday [(viewDate)]="viewDate">
            <mat-icon>today</mat-icon>
        </button>
        <button mat-icon-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
            <mat-icon>chevron_right</mat-icon>
        </button>
        <a mat-icon-button routerLink="/nhat-ky" color="white" matTooltip="Trở lại" matTooltipPosition="above">
            <mat-icon>reply</mat-icon>
        </a>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card fxLayout="column" fxLayoutGap="20px">
    <div [ngSwitch]="view">
        <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="events"
            dragOverClass="cal-drag-over"
            [refresh]="refresh"
            [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            dragOverClass="cal-drag-over"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            dragOverClass="cal-drag-over"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
    </div>
</mat-card>