<mat-card fxLayout="column">
    <mat-toolbar color="primary" class="table-header" fxLayout="row">
        <h1 class="mat-headline center-align" fxFlex='100'>Quản lý ao nuôi</h1>
        <a mat-flat-button color="white" *ngIf="isBoss" routerLink="/quan-ly-ao/them-ao-nuoi" matTooltip="Thêm mới ao"
            matTooltipPosition="above" fxFlex style="margin-right: 10px">
            <mat-icon>library_add</mat-icon>
        </a>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="preloader" color="accent"></mat-progress-bar>
    <div fxLayout="row">
        <mat-sidenav-container class="background-none shadow-none" style="min-height: 450px; min-width: 100%;">
            <mat-sidenav #productsnav [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" class="pa-0 ma-0">
                <hr>

                <div class="pa-1">
                    <h3 class="mt-1">Trạng thái</h3>
                    <mat-radio-group>
                        <div class="pb-1">
                            <mat-radio-button value="1">Đang nuôi</mat-radio-button>
                        </div>
                        <div class="pb-1">
                            <mat-radio-button value="2">Ao trống</mat-radio-button>
                        </div>
                        <div class="pb-1">
                            <mat-radio-button value="3">Sửa chửa</mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
                <hr>

                <div class="pa-1">
                    <button mat-raised-button class="mat-green-700">Lọc</button>
                </div>

            </mat-sidenav>
            <mat-toolbar color="primary" fxHide="false" fxHide.gt-sm>
                <button (click)="productsnav.toggle()" mat-icon-button>
                    <mat-icon>short_text</mat-icon>
                </button>
                <span class="mr-1 ml-1">Xem theo</span>
            </mat-toolbar>

            <div fxLayout="row wrap">
                <div fxLayout="row" *ngIf="notOwner" fxLayoutAlign="center center" style="min-height: 450px; min-width: 100%;">
                    <h3 class="mat-text-warn">Tạo ao nuôi đầu tiên để sử dụng các tính
                        năng của hệ thống</h3>
                </div>
                <div class="zoom" fxFlex.gt-sm="25" fxFlex.gt-xs="33.3333%" fxFlex="100" *ngFor="let pond of ponds">
                    <mat-card>
                        <div class="media-grid">
                            <figure>
                                <div class="product-badge" *ngIf="pond.status === 0 "><span>Trống</span></div>
                                <div class="product-badge-maintenance" *ngIf="pond.status === 2 "><span>Sửa</span></div>
                                <!-- <div class="media-grid compact bg-cover" [ngStyle]="{'background-image': 'url('+ (pond.image || imagePlaceHolder) +')'}"
                                    fxFlex="45>
                                </div> -->
                                <img [src]="pond.image || imagePlaceHolder" height="150px" width="100%" style="background-size: cover">
                                <figcaption>
                                    <p>
                                        <a *ngIf="isBoss" (click)="openDialogAddRole(pond.pondId)" matTooltip="Giao quyền quản lý"
                                            matTooltipPosition="above">
                                            <mat-icon>assignment_ind</mat-icon>
                                        </a>
                                        <a [routerLink]="['/quan-ly-ao/chi-tiet-ao-nuoi', pond.pondUUId ]" class="pointer"
                                            matTooltip="Chi tiết ao nuôi" matTooltipPosition="above">
                                            <mat-icon>library_books</mat-icon>
                                        </a>
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div fxFlex>
                                    <h4 class="ma-0" style="text-transform: uppercase; font-weight: 500">{{
                                        pond['pondName'] }}</h4>
                                </div>

                            </div>
                            <div class="mat-text-warn text-xl" *ngIf="pond.employees == 0">
                                <span><small></small></span>
                            </div>
                            <div class="mat-text-accent text-xl" *ngFor="let empl of pond.employees">
                                <span><small>{{ empl.lastname }} {{ empl.firstname }}</small></span>
                            </div>
                            <div style="font-size:13px" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ pond.createCost | currency:'VNĐ '}}</span>
                            </div>
                            <div style="font-size:13px" fxLayout="row" fxLayoutAlign="end center">
                                <span>{{ pond.pondCreatedDate | date:'dd - MM - yyyy':'vi' }}</span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-sidenav-container>
    </div>
    <br>
</mat-card>