<mat-card fxLayout="column" fxLayoutGap="20px">
    <mat-toolbar color="primary" class="table-header" fxLayout="row">
        <h2 class="mat-headline" fxFlex='100'>Quản lý chi phí</h2>
    </mat-toolbar>
    <mat-card-content fxLayout="column">
        <hr>
        <div fxLayout="row" fxLayout.xs="column">
            <a href="javascript:;" (click)="goto('/quan-ly-chi-phi/chi-phi-nhap-kho', 'storage')" fxFlex="100" routerLinkActive="active">
                <mat-card class="card-widget mat-teal active">
                    <div mat-card-widget>
                        <div mat-card-float-icon>
                            <mat-icon>widgets</mat-icon>
                        </div>
                        <div class="pl-0">
                            <h2 mat-card-widget-title>103</h2>
                            <p>CHI PHÍ NHẬP KHO</p>
                        </div>
                    </div>
                </mat-card>
            </a>
            <a href="javascript:;" (click)="goto('/quan-ly-chi-phi/chi-phi-nhap-giong', 'breed')" fxFlex="100" routerLinkActive="active">
                <mat-card class="card-widget mat-purple active">
                    <div mat-card-widget>
                        <div mat-card-float-icon>
                            <mat-icon>toys</mat-icon>
                        </div>
                        <div class="pl-0">
                            <h2 mat-card-widget-title>230</h2>
                            <p>CHI PHÍ NHẬP GIỐNG</p>
                        </div>
                    </div>
                </mat-card>
            </a>
            <a href="javascript:;" (click)="goto('/quan-ly-chi-phi/thu-hoach', 'harvest')" fxFlex="100" routerLinkActive="active">
                <mat-card class="card-widget mat-light-blue-800 active">
                    <div mat-card-widget>
                        <div mat-card-float-icon>
                            <mat-icon>local_hospital</mat-icon>
                        </div>
                        <div class="pl-0">
                            <h2 mat-card-widget-title>323</h2>
                            <p>THỐNG KÊ THU HOẠCH</p>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>
        <hr>
        <div fxLayout="row" fxFlex="100" class="mr-top">
            <div *ngIf="isBoss" fxFlexOffset="6" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutGap="20px"
                fxLayoutGap.sm="10px" fxLayoutGap.xs="0">
                <form>
                    <mat-form-field>
                        <mat-select placeholder="Vụ nuôi" [(ngModel)]="seasonPresent" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let s of seasons" [value]="s" (click)="changeSeason(s)">
                                {{ s.seasonName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
        </div>
        <hr />
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="100" fxFlex="100" *ngIf="flagLoadChart === 'storage'">
                <a routerLink="/quan-ly-chi-phi/chi-phi-nhap-kho" fxFlex="100" routerLinkActive="active">
                    <mat-card>
                        <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
                            {{ 'Chi phí các lần nhập kho' | uppercase }} &nbsp;
                            <span fxFlex></span>
                            <span class="font-weight-bold mat-text-primary">{{ totalAll }}</span>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <canvas height="100" baseChart class="chart" [datasets]="barChartDataStorage" [labels]="barChartLabels | dateArray"
                                [options]="barChartOptions" [colors]="chartColors" [legend]="barChartLegend"
                                [chartType]="barChartType"></canvas>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div fxFlex.gt-sm="100" fxFlex="100" *ngIf="flagLoadChart === 'breed'">
                <a routerLink="/quan-ly-chi-phi/chi-phi-nhap-kho" fxFlex="100" routerLinkActive="active">
                    <mat-card>
                        <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
                            {{ 'Chi phí các lần nhập giống' | uppercase }} &nbsp;
                            <span fxFlex></span>
                            <span class="font-weight-bold mat-text-primary">{{ totalAll }}</span>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <canvas height="100" baseChart class="chart" [datasets]="barChartDataBreed" [labels]="barChartLabels | dateArray"
                                [options]="barChartOptions" [colors]="chartColors" [legend]="barChartLegend"
                                [chartType]="barChartType"></canvas>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div fxFlex.gt-sm="100" fxFlex="100" *ngIf="flagLoadChart === 'harvest'">
                <a routerLink="/quan-ly-chi-phi/thu-hoach" fxFlex="100" routerLinkActive="active">
                    <mat-card>
                        <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
                            {{ 'Doanh thu các lần thu hoạch' | uppercase }} &nbsp;
                            <span fxFlex></span>
                            <span class="font-weight-bold mat-text-primary">{{ totalAll }}</span>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <canvas height="100" baseChart class="chart" [datasets]="barChartDataHarvest" [labels]="barChartLabels | dateArray"
                                [options]="barChartOptions" [colors]="chartColors" [legend]="barChartLegend"
                                [chartType]="barChartType"></canvas>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <p>{{ barChartLabels | json }}</p>
            <p>{{ barChartDataHarvest | json }}</p>
            <!--  | [date:'dd/MM/yyyy':'vi'] -->
            <!-- <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
                <a routerLink="/quan-ly-chi-phi/chi-phi-cham-soc" fxFlex="100" routerLinkActive="active">
                    <mat-card>
                        <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
                            Chi phí chuẩn chăm sóc &nbsp;
                            <span fxFlex></span>
                            <span class="font-weight-bold mat-text-warn">-46,68</span>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <canvas height="200" baseChart class="chart" [datasets]="ComboChartData" [labels]="comboChartLabels"
                                [options]="ComboChartOptions" [colors]="chartColors" [legend]="comboChartLegend"
                                [chartType]="barChartType"></canvas>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
                <a routerLink="/quan-ly-chi-phi/thu-hoach" fxFlex="100" routerLinkActive="active">
                    <mat-card>
                        <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
                            Thu hoạch &nbsp;
                            <span fxFlex></span>
                            <span class="font-weight-bold mat-text-accent">+2,50%</span>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <canvas height="200" baseChart class="chart" [datasets]="bubbleChartData" [labels]="comboChartLabels"
                                [options]="ComboChartOptions" [legend]="comboChartLegend" [chartType]="bubbleChartType"></canvas>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div> -->
        </div>
    </mat-card-content>
    <router-outlet></router-outlet>
</mat-card>