.pointer{
    cursor: pointer;
  }
  
  .zoom:hover {
    transform: scale(1.001);
    font-weight: 700;
  }
  
  .table-header {
      background-color: #327ebd;
      color: white;
      padding: 0 5px;
  }
  .table-container {
      padding: 5px 15px 15px 15px;
  }
  .table-component-holder {
      border: 1px solid #327ebd;
      background-color: white;
  }
  
  .mat-headline {
      margin: 0 2px;
      text-transform: uppercase;
      font-weight: 700;
  }
  
  .mr-left-5 {
      margin-left: 5px !important;
  }
  
  .container {
      margin: 10px;
      padding: 5px 15px 5px 15px
  }
  .subtitle{
      color: white;
  }
  .pad{
      padding: 5px;
  }
  
  .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
    }
    
    .example-option-img {
      vertical-align: middle;
      margin-right: 8px;
    }
    
    [dir='rtl'] .example-option-img {
      margin-right: 0;
      margin-left: 8px;
    }
  
  .product-badge-maintenance {
    color: #fff;
    text-align: center;
    position: absolute;
    border-top: 30px solid #388e3c;
    border-bottom: 30px solid transparent;
    border-right: 30px solid transparent;
    border-left: 30px solid #388e3c;
    top: 0;
    left: 0;
    z-index: 100;
    span {
      position: absolute;
      transform: rotate(-45deg);
      top: -18px;
      left: -25px;
      white-space: nowrap;
    }
  }