<mat-card fxLayout="column">
        <div class="table-header" fxLayout="column" fxLayoutAlign="center center">
            <mat-card-title>
                <h2 class="mat-headline center-align">THÔNG TIN CHẤT THẢI</h2>
            </mat-card-title>
            <mat-card-subtitle>
                <h4 class="subtitle">Chọn một ao cụ thể để ghi thông quản lý chất thải của ao đó</h4>
            </mat-card-subtitle>
        </div>
        <mat-progress-bar mode="indeterminate" *ngIf="preloader" color="accent"></mat-progress-bar>
        <div fxLayout="row">
            <mat-sidenav-container class="background-none shadow-none" style="min-height: 450px; min-width: 100%;">
                <div fxLayout="row wrap">
                    <div class="zoom mr-3" fxFlex="35%" *ngFor="let pond of ponds">
                        <mat-card class="pointer" (click)="gotoAdd(pond.pondUUId)">
                            <div fxLayout="row" style="min-height:150px">
                                <div class="media-grid compact bg-cover"
                                    [ngStyle]="{'background-image': 'url('+ pond.images +')'}" fxFlex="45">
                                    <figure>
                                        <div class="product-badge" *ngIf="pond.status === 0 "><span>Trống</span></div>
                                        <div class="product-badge-maintenance" *ngIf="pond.status === 2 "><span>Sửa</span></div>
                                    </figure>
                                </div>
                                <div class="pa-1" fxFlex>
                                    <div fxLayout="row" fxFlex>
                                    </div>
                                    <div fxLayout="column" fxLayoutAlign="center center">
                                        <div fxLayout="row" fxLayoutAlign="center center">
                                            <div fxFlex>
                                                <h4 class="ma-0" style="text-transform: uppercase; font-weight: 500">{{ pond['pondName'] }}</h4>
                                            </div>
                                        </div>
                                        <div style="font-size:14px" fxLayout="row" fxLayoutAlign="center center">
                                            <span>Ngày tạo ao: {{ pond.pondCreatedDate }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </mat-sidenav-container>
        </div>
        <br>
    </mat-card>