@import "../../assets/styles/scss/components/calendar";
:host {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  display: block;
}
md-card {
  margin: 8px;
}

.mr-left-5 {
    margin-left: 5px;
}

.mr-right-5 {
    margin-right: 5px;
}
