<mat-card fxLayout="column">
    <mat-toolbar color="primary" class="table-header" fxLayout="column">
        <h1 fxLayout="row" fxLayoutAlign="center center" fxFlex="100"><b>GHI NHẬT KÝ</b></h1>
        <h6 fxLayout="row" fxLayoutAlign="center center" fxFlex="100" style="font-size: 13px; opacity: 0.85;"><i>Chọn
                một ao cụ thể để ghi nhật ký</i></h6>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="preloader" color="accent"></mat-progress-bar>
    <mat-sidenav-container class="background-none shadow-none height">
        <div fxLayout="row" fxFlex="100" class="mr-top">
            <div *ngIf="isBoss" fxFlexOffset="6" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutGap="20px"
                fxLayoutGap.sm="10px" fxLayoutGap.xs="0">
                <form>
                    <mat-form-field>
                        <mat-select placeholder="Vụ nuôi" [(ngModel)]="seasonPresent" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let s of seasons" [value]="s" (click)="changeSeason(s)">
                                {{ s.seasonName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
        </div>
        <br>

        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="25" fxFlex.gt-xs="33.3333%" fxFlex="100" *ngFor="let pond of ponds">
                <mat-card>
                    <div class="media-grid">
                        <figure>
                            <div class="product-badge" *ngIf="pond.isFed === '1'" matTooltip="Chưa ghi nhật ký cho hôm nay"
                                matTooltipPosition="above" (click)="gotoAdd(pond.pondUUId)"><span>
                                    <mat-icon>error_outline</mat-icon>
                                </span></div>
                            <img [src]="pond.images" height="150px" width="100%" style="background-size: cover">
                            <figcaption>
                                <p>
                                    <a href="javascript:;" matTooltip="Ghi nhật ký" (click)="gotoAdd(pond.pondUUId)"
                                        matTooltipPosition="left">
                                        <mat-icon>note_add</mat-icon>
                                    </a>
                                    <a href="javascript:;" matTooltip="Xem thống kê" (click)="gotoAnalysis(pond.pondUUId)"
                                        matTooltipPosition="left">
                                        <mat-icon>timeline</mat-icon>
                                    </a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex>
                                <p class="ma-0">{{ pond.pondName }}</p>
                                <p class="ma-0 pa-0 text-md">Tôm</p>
                            </div>
                            <div class="mat-text-primary text-xl">
                                <span class="strikethrough mat-text-muted text-sm">$ 20.3</span>
                                <!-- <span class="strikethrough mat-text-muted text-sm" *ngIf="product.discounted === 'discounted'">$ 20.3</span> -->
                                <span> $ 15.2</span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-container>
</mat-card>