<mat-card fxLayout="column">
  <div class="table-header" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>
      <h2 class="mat-headline center-align">THÔNG TIN AO NUÔI</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <h4 class="subtitle">Chi tiết thông tin cho ao nuôi của bạn</h4>
    </mat-card-subtitle>
  </div>
  <div fxLayout="row">
    <div fxFlexOffset="20" fxFlex="60" fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset.sm="10" fxFlex.sm="80"
      fxFlexOffset.md="15" fxFlex.md="70">
      <div>
        <form [formGroup]="form" style="font-size:20px">
          <mat-card-content fxLayout="column">
            <mat-form-field>
              <input matInput placeholder="Tên ao nuôi" type="text" [formControl]="form.controls['pond']">
            </mat-form-field>
            <small *ngIf="form.controls['pond'].hasError('required') && form.controls['pond'].touched" class="mat-text-warn">Tên
              ao không được để trống.</small>

            <mat-form-field>
              <mat-select [(value)]="selected" placeholder="Trạng thái ao" [formControl]="form.controls['pondstatus']">
                <mat-option>None</mat-option>
                <mat-option value="option1">Ao trống</mat-option>
                <mat-option value="option2">Đang nuôi</mat-option>
                <mat-option value="option3">Đang nâng cấp</mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="form.controls['pondstatus'].hasError('required') && form.controls['pondstatus'].touched"
              class="mat-text-warn">Cần cho biết trạng thái của ao.</small>

            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutGap.sm="0"
              fxLayoutGap.xs="0">
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Diện tích ao" type="text" [formControl]="form.controls['pondarea']">
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Độ sâu của ao" type="text" [formControl]="form.controls['ponddepth']">
              </mat-form-field>
            </div>
            <small *ngIf="form.controls['pondarea'].hasError('required') && form.controls['pondarea'].touched" class="mat-text-warn">Diện
              tích không được để trống.</small>
            <small *ngIf="form.controls['ponddepth'].hasError('required') && form.controls['ponddepth'].touched" class="mat-text-warn">Độ
              sâu không được để trống.</small>
            <br>
            <h4>Ảnh ao nuôi</h4>
            <!-- <h4 class="subtitle" style=" color: #aa9e9e">Thêm ảnh cho ao</h4>
            <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br /> -->
            <mat-card fxLayout="row">
              <div fxFlexOffset="5" fxFlex="90">
                <br>
                <div class="media-grid compact bg-cover">
                  <img src="/assets/images/ponds/10.jpg" alt="img-pond" class="img-pond-detail-style">
                </div>
              </div>
            </mat-card>
            <br>
            <div>
              <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                  [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                </agm-marker>
                <agm-info-window>
                  <strong>Thông tin ao nuôi</strong>
                </agm-info-window>
              </agm-map>
            </div>
            <br>
          </mat-card-content>
          <hr>
          <mat-card-actions>
            <div fxLayout="row" fxLayoutAlign="center center" class="pad">
              <button mat-raised-button color="primary">Sửa</button>
              <button mat-raised-button type="submit" disabled>Lưu</button>
              <button mat-raised-button color="warn" routerLink="/quan-ly-ao">Trở lại</button>
            </div>
          </mat-card-actions>
        </form>
      </div>
    </div>
  </div>

</mat-card>