<mat-card fxLayout="column">
  <div class="table-header" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>
      <h2 class="mat-headline center-align">THÔNG TIN AO NUÔI</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <h4 class="subtitle">Chi tiết thông tin cho ao nuôi của bạn</h4>
    </mat-card-subtitle>
  </div>
  <div fxLayout="row">
    <div fxFlexOffset="20" fxFlex="60" fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset.sm="10" fxFlex.sm="80"
      fxFlexOffset.md="15" fxFlex.md="70">
      <div>
        <form [formGroup]="form" style="font-size:20px">
          <mat-card-content fxLayout="column">
            <mat-form-field>
              <input matInput placeholder="Tên ao nuôi" type="text">
            </mat-form-field>
            <mat-form-field>
              <mat-select [(value)]="selected" placeholder="Trạng thái ao">
                <mat-option>None</mat-option>
                <mat-option value="option1">Ao trống</mat-option>
                <mat-option value="option2">Đang nuôi</mat-option>
                <mat-option value="option3">Đang nâng cấp</mat-option>
              </mat-select>
            </mat-form-field>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutGap.sm="0"
              fxLayoutGap.xs="0">
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Diện tích ao" type="text">
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Độ sâu của ao" type="text">
              </mat-form-field>
            </div>
            <!-- <h4 class="subtitle" style=" color: #aa9e9e">Thêm ảnh cho ao</h4>
            <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br /> -->
            <mat-card fxLayout="row">
              <div fxFlexOffset="25" fxFlex="50">
                <div class="media-grid compact bg-cover">
                  <img src="../../../assets/images/avatar.jpg" alt="img-pond">
                </div>
              </div>
            </mat-card>
          </mat-card-content>
          <hr>
          <mat-card-actions>
            <div fxLayout="row" fxLayoutAlign="center center" class="pad">
              <button mat-raised-button color="primary">Sửa</button>
              <button mat-raised-button color="primary" type="submit" disabled>Lưu</button>
              <button mat-raised-button color="warn" routerLink="/quan-ly-ao">Trở lại</button>
            </div>
          </mat-card-actions>
        </form>
      </div>
    </div>
  </div>

</mat-card>