<mat-card fxLayout="column">
  <div class="table-header" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>
      <h2 class="mat-headline center-align">THÊM AO NUÔI</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <h4 class="subtitle">Nhập chi tiết thông tin cho ao nuôi của bạn</h4>
    </mat-card-subtitle>
  </div>
  <div fxLayout="row">
    <div fxFlexOffset="20" fxFlex="60" fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset.sm="10" fxFlex.sm="80"
      fxFlexOffset.md="15" fxFlex.md="70">
      <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" style="font-size:20px" enctype="multipart/form-data">
          <mat-card-content fxLayout="column">
            <mat-form-field>
              <input matInput placeholder="Tên ao nuôi" type="text" [formControl]="form.controls['pond']" required
                autocomplete="off">
            </mat-form-field>
            <small *ngIf="form.controls['pond'].hasError('required') && form.controls['pond'].touched" class="mat-text-warn">Tên
              ao không được để trống.</small>
            <mat-form-field>
              <mat-select [(value)]="selected" placeholder="Trạng thái ao" [formControl]="form.controls['pondstatus']"
                required>
                <mat-option>None</mat-option>
                <mat-option value="option1">Ao trống</mat-option>
                <mat-option value="option2">Đang nuôi</mat-option>
                <mat-option value="option3">Đang nâng cấp</mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="form.controls['pondstatus'].hasError('required') && form.controls['pondstatus'].touched"
              class="mat-text-warn">Cần cho biết trạng thái của ao.</small>

            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutGap.sm="0"
              fxLayoutGap.xs="0">
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Diện tích ao" type="number" [formControl]="form.controls['pondarea']"
                  required autocomplete="off">
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Độ sâu của ao" type="number" [formControl]="form.controls['ponddepth']"
                  required autocomplete="off">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutGap.sm="0"
              fxLayoutGap.xs="0">
              <div fxFlex="100">
                <small *ngIf="form.controls['pondarea'].hasError('required') && form.controls['pondarea'].touched"
                  class="mat-text-warn">Diện
                  tích không được để trống.</small>
              </div>
              <div fxFlex="100">
                <small *ngIf="form.controls['ponddepth'].hasError('required') && form.controls['ponddepth'].touched"
                  class="mat-text-warn">Độ
                  sâu không được để trống.</small>
              </div>
            </div>
            <br>
            <div>
              <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">

                <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)"
                  [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
                </agm-marker>

              </agm-map>
            </div><br>
            <div fxFlex="100">
              <h4 class="subtitle" style=" color: #aa9e9e">Thêm ảnh cho ao</h4>
              <button mat-flat-button class="mat-green-700" type="button">
                <label for="fileToUpload">
                  Tải ảnh lên ...
                </label>
              </button>&nbsp;
              <span>{{ selectedFile | async }}</span>
              <input id="fileToUpload" type="file" [formControl]="form.controls['image']" hidden (change)="onFileChange($event)">
            </div>

            <!-- <h4 class="subtitle" style=" color: #aa9e9e">Thêm ảnh cho ao</h4>
            <input type="file" multiple /><br /> -->

            <!-- <label for="singleFile">Upload file</label>
            <input id="singleFile" type="file" [fileUploadInputFor]="fileUploadQueue" />
            <br>

            <mat-file-upload-queue #fileUploadQueue [fileAlias]="'file'" [httpUrl]="'http://localhost:3000/api/uploads/image'">

              <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
            </mat-file-upload-queue> -->

          </mat-card-content>
          <hr>
          <mat-card-actions>
            <div fxLayout="row" fxLayoutAlign="center center" class="pad">
              <button mat-raised-button type="submit" color="primary" class="btn-block" [disabled]="!form.valid">Thêm</button>
              <button mat-raised-button color="warn" type="submit" routerLink="/quan-ly-ao">Huỷ</button>
            </div>
          </mat-card-actions>
        </form>
      </div>
    </div>
  </div>
</mat-card>