<mat-card>
  <mat-toolbar class="table-header" fxLayout="row" color="primary">
    <h1 class="mat-headline center-align" fxFlex='100'>Quản lý chuẩn ao nuôi</h1>
    <a mat-flat-button color="white" routerLink="/quan-ly-ao/them-ao-nuoi" matTooltip="Thêm mới ao" matTooltipPosition="above"
      fxFlex style="margin-right: 10px">
      <mat-icon>library_add</mat-icon>
    </a>
  </mat-toolbar>
  <mat-sidenav-container class="background-none shadow-none">
    <mat-sidenav #productsnav [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" class="pa-0 ma-0">
      <form>
          <hr>
    
          <div class="pa-1">
            <mat-form-field appearance="outline">
              <mat-label>Tên mùa vụ</mat-label>
              <input matInput type="text" placeholder="Gõ gì đó..." aria-label="Number" autocomplete="off">
              <mat-icon matSuffix class="nav-link-icon">search</mat-icon>
            </mat-form-field>
          </div>
    
          <hr>
          
          <div class="pa-1">
            <!-- <h3 class="mt-1">Vụ nuôi</h3> -->
            <mat-form-field appearance="outline">
              <mat-select placeholder="Chọn mùa vụ..." [formControl]="toppings" multiple>
                <mat-select-trigger>
                  {{toppings.value ? toppings.value[0] : ''}}
                  <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                    (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    
          <hr>
    
          <div class="pa-1">
            <h3 class="mt-1">Thời gian</h3>
            <div class="pb-1">
              <mat-label class="width-80">Bắt đầu</mat-label>
              <mat-slider #start aria-label="Basic slider"></mat-slider>
              <span>{{start.value}}</span>
            </div>
            <div class="pb-1">
              <mat-label class="width-80">Đến</mat-label>
              <mat-slider #end aria-label="Basic slider"></mat-slider>
              <span>{{end.value}}</span>
            </div>
          </div>
    
          <hr>
    
          <div class="pa-1">
            <h3 class="mt-1">Trạng thái ao</h3>
            <div class="pb-1">
              <mat-checkbox>Đang nuôi</mat-checkbox>
            </div>
            <div class="pb-1">
              <mat-checkbox>Trống</mat-checkbox>
            </div>
          </div>
          <hr>
          <div class="pa-1">
            <button mat-raised-button color="primary">Lọc</button>
          </div>
        </form>
      </mat-sidenav>
    <mat-toolbar color="primary" fxHide="false" fxHide.gt-sm>
      <button (click)="productsnav.toggle()" mat-icon-button>
        <mat-icon>short_text</mat-icon>
      </button>
      <span class="mr-1 ml-1">Lọc</span>
    </mat-toolbar>

    <div>
      <mat-card-content>
        <div class="mb-1">
          <h1 class="mt-0 uppercase"><strong>Tên vụ nuôi</strong></h1>
          <!-- <a href="javascript:;">Mô tả ngằn</a> -->
        </div>

        <div fxLayout="row wrap">
          <div fxFlex.gt-xs="50" fxFlex="100">
            <h2 class="my-0">Thông tin vụ</h2>
            <div fxLayout="column">
              <span><b>Mã vụ:</b> #0001</span>
              <span><b>Ngày bắt đầu:</b> 01 Jun 2017</span>
              <span><b>Ngày kết thúc:</b> 31 May 2017</span>
            </div>
          </div>
          <!-- <div fxFlex.gt-xs="50" fxFlex="100" class="text-sm-right text-xs-left">
            <h4 class="my-0">Thông tin thêm</h4>
            <div fxLayout="column">
              <span><b></b> #0001</span>
              <span>1234 Main</span>
              <span>Apt. 4B</span>
              <span>Springfield, ST 54321</span>
            </div>
          </div> -->
        </div>
      </mat-card-content>

      <mat-card-content class="pl-0 pr-0">
        <ngx-datatable class="material" [rows]="invoiceItems" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="0"
          [rowHeight]="'auto'">
          <ngx-datatable-column name="No." [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
              <strong>{{row.no}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Tên ao" [flexGrow]="2">
            <ng-template ngx-datatable-cell-template let-row="row">
              <strong>{{row.pondName}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Diện tích ao" [flexGrow]="2">
            <ng-template ngx-datatable-cell-template let-row="row">
              <strong>{{row.pondArea}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Độ sâu ao" [flexGrow]="2">
            <ng-template ngx-datatable-cell-template let-row="row">
              <strong>{{row.pondDept}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Trạng thái ao" [flexGrow]="3">
            <ng-template ngx-datatable-cell-template let-row="row">
              <strong>{{row.status}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Ngày cải tạo ao" [flexGrow]="3">
            <ng-template ngx-datatable-cell-template let-row="row">
              <strong>{{row.time}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Thời gian cải tạo ao (ngày)" [flexGrow]="4">
            <ng-template ngx-datatable-cell-template let-row="row">
              <strong>{{row.timeout}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Giá" [flexGrow]="3">
            <ng-template ngx-datatable-cell-template let-row="row">
              <strong>{{row.price | currency:'VND':'symbol':'1.2-2'}}</strong>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </mat-card-content>

      <hr>
      <mat-card-content>
        <div fxLayout="row wrap">
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1">
            <h6 class="text-uppercase text-md ma-0 text-bold">Subtotal</h6>
            <h1 class="ma-0">{{getSubTotal() | currency:'VND':'symbol':'1.2-2'}}</h1>
          </div>
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1 text-sm-right text-md-left">
            <h6 class="text-uppercase text-md ma-0 text-bold">Tax (15%)</h6>
            <h1 class="ma-0">{{getCalculatedTax() | currency:'VND':'symbol':'1.2-2'}}</h1>
          </div>
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1">
            <h6 class="text-uppercase text-md ma-0 text-bold">Discount</h6>
            <h1 class="ma-0">$0.00</h1>
          </div>
          <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1 text-xs-left text-sm-right">
            <h6 class="text-uppercase text-sm ma-0 text-bold">Total</h6>
            <h1 class="ma-0 mat-text-accent">{{ getTotal() | currency:'VND':'symbol':'1.2-2'}}</h1>
          </div>
        </div>
      </mat-card-content>
      <hr>

      <mat-card-content>
        <p class="text-md">
          <strong>
            Mô tả ngắn
          </strong>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dignissimos harum itaque ex voluptatem? Enim autem at doloremque ratione quae, repudiandae illo modi eveniet velit, corrupti tempore nisi eos nihil. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis assumenda atque veritatis animi ducimus maiores architecto commodi ratione provident sit. Tempore obcaecati necessitatibus nobis totam quaerat sed minus non facere? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis autem sequi officia eius alias veniam excepturi officiis aspernatur, dolor debitis qui fugiat, ad numquam sit itaque ex doloribus esse porro.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quo, cupiditate doloremque numquam amet voluptates molestiae aspernatur accusantium. Excepturi magnam tempore officiis esse atque eligendi nostrum explicabo aliquid architecto totam?
        </p>
      </mat-card-content>
    </div>
  </mat-sidenav-container>
</mat-card>