<mat-card fxLayout="column">
    <mat-toolbar class="table-header" fxLayout="row">
        <h1 class="mat-headline center-align" fxFlex='100'>Lịch sử nhập kho</h1>
        <a mat-flat-button routerLink="/quan-ly-kho" color="white" matTooltip="Trở lại" matTooltipPosition="above">
            <mat-icon>reply</mat-icon>
        </a>
    </mat-toolbar>
    <hr>
    <div *ngIf="isBoss" class="mr">
        <form>
            <mat-form-field>
                <mat-select placeholder="Vụ nuôi" [(ngModel)]="seasonPresent" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let s of seasons" [value]="s" (click)="changeSeason(s)">
                        {{ s.seasonName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div fxLayout="row">
        <div class="mat-elevation-z8 mr-top" matSort fxFlex="100">
            <table mat-table [dataSource]="dataSource" *ngIf="!!coupons.length">

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Loại </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="!!element.materialId">Vật phẩm trong kho</span>
                        <span *ngIf="!!element.breedId">Giống</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên </th>
                    <td mat-cell *matCellDef="let element"> {{ element.productName || element.breedName }} </td>
                </ng-container>

                <ng-container matColumnDef="quatity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Số lượng </th>
                    <td mat-cell *matCellDef="let element"> {{ element.quantity }} </td>
                </ng-container>

                <ng-container matColumnDef="unitPrice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Giá/Đơn vị </th>
                    <td mat-cell *matCellDef="let element"> {{ element.unitPrice }} </td>
                </ng-container>

                <ng-container matColumnDef="unit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> đơn vị </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="!!element.breedId && element.unit === 0">Con</span>
                        <span *ngIf="!!element.breedId && element.unit === 1">Kg</span>
                        <span *ngIf="!!element.materialId && element.unit === 0">Bao</span>
                        <span *ngIf="!!element.materialId && element.unit === 1">Chai</span>
                        <span *ngIf="!!element.materialId && element.unit === 2">Cái</span>
                        <span *ngIf="!!element.materialId && element.unit === 3">Kg</span>
                        <span *ngIf="!!element.materialId && element.unit === 4">Thùng</span>
                        <span *ngIf="!!element.materialId && element.unit === 5">Vĩ</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày nhập </th>
                    <td mat-cell *matCellDef="let element"> {{ element.createdDate | date:'dd - MM - yyyy':'vi' }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</mat-card>