<mat-card fxLayout="column">
    <!-- <mat-toolbar color="primary" class="table-header" fxLayout="column">
        <h1 fxLayout="row" fxLayoutAlign="center center" fxFlex="100"><b>THÊM CHI TIẾT CHUẨN BỊ AO - {{ (pond ?
                pond.pondName : '') | uppercase }}</b></h1>
        <h6 fxLayout="row" fxLayoutAlign="center center" fxFlex="100" style="font-size: 13px; opacity: 0.85;"><i>Điền thông tin vào mẫu dưới đây và nhấn nút </i><b>&nbsp;Gửi</b></h6>
    </mat-toolbar> -->
    <div class="table-header" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>
            <h2 class="mat-headline center-align">THÊM CHI TIẾT CHUẨN BỊ AO - {{ (pond ? pond.pondName : '') | uppercase }}</h2>
        </mat-card-title>
        <mat-card-subtitle>
            <h4 class="subtitle">Nhập chi tiết thông tin chuẩn bị ao của bạn</h4>
        </mat-card-subtitle>
    </div>
    <div fxLayout="column" class="mr">
        <div fxLayout="rows">
            <form [formGroup]="form" class="mr" (ngSubmit)="onSubmit()" fxLayout="column" fxFlex="50" fxFlexOffset="25">
                <mat-form-field>
                    <input matInput placeholder="Tên gợi nhớ lần chuẩn bị ao" [formControl]="form.controls['pondPrepareName']" autocomplete="off" required>
                </mat-form-field>
                <mat-form-field fxFlex="100">
                    <mat-select [(value)]="selected" placeholder="Nguyên, vật liệu" [formControl]="form.controls['storage']"
                        required>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let material of storages" [value]="material">{{ material.productName }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Số lượng" type="number" [formControl]="form.controls['quantity']"
                        autocomplete="off" required>
                </mat-form-field>
                <div class="mr-b-5" fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button type="button" class="mr-5" (click)="addArray()" color="primary" [disabled]="form.invalid" *ngIf="detailsOfPrepare.length === 0">Thêm</button>
                    <button mat-raised-button type="button" class="mr-5" (click)="addArray()" class="mat-green-700" [disabled]="form.invalid" *ngIf="detailsOfPrepare.length > 0">Tiếp tục thêm</button>
                    <button mat-raised-button type="submit" class="mr-5" [disabled]="form.invalid || detailsOfPrepare.length === 0" class="mat-pink-700">Gửi</button>
                    <button mat-raised-button color="warn" class="mr-5" (click)="cancel()">Hủy</button>
                </div>
            </form>
        </div>
        <div *ngIf="detailsOfPrepare.length > 0" fxLayout="column">
            <div fxLayout="rows">
                <div fxFlex="50" fxFlexOffset="25">
                    <button (click)="reChoose()" type="button" mat-button>Xóa hết</button>
                </div>
            </div>
            <div fxLayout="rows">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mr" fxFlex="50" fxFlexOffset="25">
                    <ng-container matColumnDef="productName">
                        <th mat-header-cell *matHeaderCellDef> Tên Vật Dụng </th>
                        <td mat-cell *matCellDef="let element">{{ element.productName }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef> Số Lượng </th>
                        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</mat-card>