<mat-card fxLayout="column">
    <mat-toolbar color="primary" class="table-header" fxLayout="row">
        <h1 class="mat-headline center-align" fxFlex='100'>Quản lý chất thải</h1>
        <a mat-flat-button color="white" routerLink="/quan-ly-chat-thai/danh-sach-ao" matTooltip="Thêm thông tin" *ngIf="checkSeasonPresent && !!seasons.length  && !!ponds.length"
            matTooltipPosition="above" fxFlex style="margin-right: 10px">
            <mat-icon>library_add</mat-icon>
        </a>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="preloader" color="accent"></mat-progress-bar>
    <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="25">
            <div class="pb-1">
                <form [formGroup]="form">
                    <div class="pa-1" fxLayout="column">
                        <mat-form-field fxFlex="100" *ngIf="isBoss">
                            <mat-select [(value)]="seasonSelected" [formControl]="form.controls['season']" placeholder="Tên vụ nuôi">`
                                <mat-option *ngFor="let season of seasons" [value]="season" (click)="changeSeason(season)">{{
                                    season.seasonName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="100">
                            <mat-select [(value)]="pondSelected" [formControl]="form.controls['pond']" placeholder="Tên ao nuôi">
                                <mat-option *ngFor="let p of ponds" [value]="p" (click)="changePond(p)">{{ p.pondName
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </div>
        <div fxLayout="column" fxFlex="75">
            <div fxFlexOffset="4">
                <mat-accordion fxFlexOffset="5" fxFlex="90">
                    <div *ngFor="let w of wastes">
                        <mat-expansion-panel *ngIf="w.card === '0'" [expanded]="step === 0" (opened)="setStep(0)"
                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon>local_gas_station</mat-icon>
                                    <b class="title-waste">Thuốc hoá học quá sử dụng</b>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <div fxFlex></div>
                                    <div fxLayout="row" fxFLex="end center">
                                        <b>{{ w.createdDate | date:'dd - MM - yyy':'vi' }}</b>
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p><b>Số lượng:</b> {{ w.quantity }}</p>
                            <p><b>Người xử lý:</b> {{ w.employee }}</p>
                            <p><b>Phương pháp xử lý:</b> {{ w.solutions }}</p>
                            <hr><br>
                            <div fxLayout="row" fxLayoutAlign="end center">
                                <button mat-raised-button color="warn" [routerLink]="['/quan-ly-chat-thai/cap-nhat', w.diedFisheryUUId]">Sửa</button>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel *ngIf="w.card === '1'" [expanded]="step === 1" (opened)="setStep(1)"
                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon>broken_image</mat-icon>
                                    <b class="title-waste">Rác</b>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <div fxFlex></div>
                                    <div fxLayout="row" fxFLex="end center">
                                        <b>{{ w.createdDate | date:'dd - MM - yyyy':'vi' }}</b>
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p><b>Số lượng:</b> {{ w.quantity }}</p>
                            <p><b>Người xử lý:</b> {{ w.employee }}</p>
                            <p><b>Phương pháp xử lý:</b> {{ w.solutions }}</p>
                            <hr><br>
                            <div fxLayout="row" fxLayoutAlign="end center">
                                <button mat-raised-button color="warn" [routerLink]="['/quan-ly-chat-thai/cap-nhat', w.diedFisheryUUId]">Sửa</button>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel *ngIf="w.card === '2'" [expanded]="step === 2" (opened)="setStep(2)"
                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon>whatshot</mat-icon>
                                    <b class="title-waste">Xác tôm cá</b>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <div fxFlex></div>
                                    <div fxLayout="row" fxFLex="end center">
                                        <b>{{ w.createdDate | date:'dd - MM - yyy':'vi' }}</b>
                                    </div>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p><b>Số lượng:</b> {{ w.quantity }}</p>
                            <p><b>Người xử lý:</b> {{ w.employee }}</p>
                            <p><b>Phương pháp xử lý:</b> {{ w.solutions }}</p>
                            <hr><br>
                            <div fxLayout="row" fxLayoutAlign="end center">
                                <button mat-raised-button color="warn" [routerLink]="['/quan-ly-chat-thai/cap-nhat', w.diedFisheryUUId]">Sửa</button>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel *ngIf="w.card === '3'" [expanded]="step === 3" (opened)="setStep(3)"
                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon>spa</mat-icon>
                                    <b class="title-waste">Chất thải</b>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <div fxFlex></div>
                                    <div fxLayout="row" fxFLex="end center">
                                        <b>{{ w.createdDate | date:'dd - MM - yyy':'vi' }}</b>
                                    </div>
                                </mat-panel-description>
                                <hr>
                            </mat-expansion-panel-header>
                            <p><b>Số lượng:</b> {{ w.quantity }}</p>
                            <p><b>Người xử lý:</b> {{ w.employee }}</p>
                            <p><b>Phương pháp xử lý:</b> {{ w.solutions }}</p>
                            <hr><br>
                            <div fxLayout="row" fxLayoutAlign="end center">
                                <button mat-raised-button color="warn" [routerLink]="['/quan-ly-chat-thai/cap-nhat', w.diedFisheryUUId]">Sửa</button>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel *ngIf="w.card === '4'" [expanded]="step === 4" (opened)="setStep(4)"
                            (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon>warning</mat-icon>
                                    <b class="title-waste">Khác</b>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <div fxFlex></div>
                                    <div fxLayout="row" fxFLex="end center">
                                        <b>{{ w.createdDate | date:'dd - MM - yyy':'vi' }}</b>
                                    </div>
                                </mat-panel-description>
                                <hr>
                            </mat-expansion-panel-header>
                            <p><b>Số lượng:</b> {{ w.quantity }}</p>
                            <p><b>Người xử lý:</b> {{ w.employee || '' }}</p>
                            <p><b>Phương pháp xử lý:</b> {{ w.solutions || '' }}</p>
                            <hr><br>
                            <div fxLayout="row" fxLayoutAlign="end center">
                                <button mat-raised-button color="warn" [routerLink]="['/quan-ly-chat-thai/cap-nhat', w.diedFisheryUUId]">Sửa</button>
                            </div>
                        </mat-expansion-panel>
                    </div>
                </mat-accordion>
            </div>
        </div>
    </div>
    <div><br></div>
</mat-card>