<mat-card fxLayout="column">
    <mat-toolbar color="primary" class="table-header" fxLayout="rows">
        <div fxLayout="column" fxFlex="100">
            <h1 fxLayout="row" fxFlex="100"><b>QUẢN LÝ CHO ĂN</b></h1>
        </div>
        <div fxLayout="column">
            <!-- <button mat-raised-button (click)="goto('/cho-an/danh-sach-ao')" color="accent">Thêm</button> -->
        </div>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="preloader" color="accent"></mat-progress-bar>
    <mat-sidenav-container class="background-none shadow-none height">
        <div fxLayout="row" fxFlex="100" class="mr-top">
            <div *ngIf="isBoss" fxFlexOffset="6" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutGap="20px"
                fxLayoutGap.sm="10px" fxLayoutGap.xs="0">
                <form>
                    <mat-form-field>
                        <mat-select placeholder="Vụ nuôi" [(ngModel)]="seasonPresent" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let s of seasons" [value]="s" (click)="changeSeason(s)">
                                {{ s.seasonName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
        </div>
        <br>
        <div fxLayout="row wrap">
            <div fxFlex.gt-sm="25" fxFlex.gt-xs="33.3333%" fxFlex="100" *ngFor="let pond of ponds">
                <mat-card>
                    <div class="media-grid">
                        <figure>
                            <div class="product-badge" *ngIf="pond.isFed === 0" matTooltip="Chưa cho ăn"
                                matTooltipPosition="above" (click)="gotoAdd(pond.pondUUId)"><span>
                                    <mat-icon>error_outline</mat-icon>
                                </span></div>
                            <img [src]="pond.image || imagePlaceHolder" height="150px" width="100%" style="background-size: cover">
                            <figcaption>
                                <p>
                                    <a href="javascript:;" matTooltip="Cho ăn" (click)="gotoAdd(pond.pondUUId)"
                                        matTooltipPosition="left" *ngIf="checkSeasonPresent">
                                        <mat-icon>widgets</mat-icon>
                                    </a>
                                    <a href="javascript:;" matTooltip="Xem thống kê" (click)="gotoAnalysis(pond.pondUUId)"
                                        matTooltipPosition="left">
                                        <mat-icon>timeline</mat-icon>
                                    </a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex>
                                <p class="ma-0" style="text-transform: uppercase; font-weight: 500">{{ pond.pondName }}</p>
                            </div>
                            <div>
                                <span>
                                    <mat-icon>widgets</mat-icon>
                                </span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-container>

</mat-card>