<mat-card fxLayout="column">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 class="mat-headline center-align">Quản lý thông tin</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="wrapper">
    <div fxLayout="row wrap">
      <div fxFlex="100">
        <mat-card>
          <mat-card-content>
            <div fxLayout="row">
              <div fxFlex="45" class="text-xs-center text">
                <h1 class="ma-0"><b>{{ userInfo.lastname || '' }}</b>&nbsp;<b>{{ userInfo.firstname || '' }}</b></h1>
                <p class="mt-xs mb-xs" *ngIf="userInfo && bday != null">{{ bday || '' }}</p>
                <p class="mt-xs mb-xs" *ngIf="userInfo && userInfo.war != null"><small>{{ userInfo.war.name || '' }}, {{ userInfo.dis.name || '' }}, {{ userInfo.pro.name || '' }}</small></p>
                <p class="mt-xs mb-xs"><small>{{ userInfo.email || '' }}</small></p>
                <button mat-raised-button routerLink="/thong-tin-ca-nhan/chinh-sua-thong-tin" class="mat-green-700">Cập
                  nhật</button>
              </div>
              <div fxFlex="10" fxLayoutAlign="center center">
              </div>
              <div fxFlex="45">
                <figure>
                  <div class="text-xs-center">
                    <div class="imgLoading img-responsive" mat-card-image [ngStyle]="getImage()">
                    </div>
                    <div class="text-md mt10">{{ userInfo.username || '' }}</div>
                  </div>
                  <div class="text-xs-center"><small>{{ userInfo.phone || '' }}</small></div>
                </figure>
              </div>
            </div>
            <br>
          </mat-card-content>
          <hr>
          <mat-card-content>
            <div fxLayout="row" class="text-xs-center">
              <div fxFlex="49">
                <h1 class="ma-0"><b>20</b></h1>
                <small>Tổng ao nuôi đang có</small>
              </div>
              <div fxFlex="49">
                <h1 class="ma-0"><b>86</b></h1>
                <small>Tổng vụ nuôi</small>
              </div>
            </div>
          </mat-card-content>
          <hr>
        </mat-card>
      </div>
    </div>
    <br *ngIf="userInfo.long != null && userInfo.lat != null">
    <mat-card >
      <mat-card-content>
        <h2> {{ title }}</h2>
        <agm-map [latitude]="lat" [longitude]="lng">

          <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
            [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable">

            <agm-info-window>
              <strong>{{ userInfo.lastname || '' }} {{ userInfo.firstname || '' }}</strong><br>
              <span>{{ userInfo.war.name || '' }}, {{ userInfo.dis.name || '' }} {{ userInfo.pro.name || '' }}</span>
            </agm-info-window>

          </agm-marker>

        </agm-map>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
</mat-card>