.logo-main {
    text-transform: uppercase;
    font-weight: 700;
    // font-style: italic;
    font-size: 19px;
    line-height: 80%;
}

.menu-n-logo {
    display: inherit;
}

.fxClass-xs {
    display: none !important;
}