.logo-main {
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
}

.menu-n-logo {
    display: inherit;
}

.fxClass-xs {
    display: none !important;
}