<div fxLayout="column" fxLayoutAlign="center center">
    <form [formGroup]="form">
        <div class="text-xs-center pb-1">
            <h2 class="mat-text-muted">THÊM VỤ NUÔI</h2>
            <div class="pb-1">
                <hr>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-around">
            <div class="pb-1">
                <mat-form-field style="width: 100%">
                    <mat-select [(value)]="selected" placeholder="Ao nuôi" [formControl]="form.controls['pond']">
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Ao 1</mat-option>
                        <mat-option value="option2">Ao 2</mat-option>
                        <mat-option value="option3">Ao 3</mat-option>
                        <mat-option value="option3">Ao 4</mat-option>
                        <mat-option value="option3">Ao 5</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <small *ngIf="form.controls['pond'].hasError('required') && form.controls['pond'].touched" class="mat-text-warn">Chưa
                chọn ao nuôi.</small>
            <div class="pb-1">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Tên vụ nuôi" type="text" [formControl]="form.controls['seasonName']" autocomplete="off" required>
                </mat-form-field>
            </div>
            <small *ngIf="form.controls['seasonName'].hasError('required') && form.controls['seasonName'].touched"
                class="mat-text-warn">Tên vụ nuôi không được để trống.</small>
            <div class="pb-1">
                <mat-form-field>
                    <input matInput [matDatepicker]="dom" placeholder="Ngày tạo vụ nuôi" [formControl]="form.controls['season_date']"
                        required autocomplete="off">
                    <mat-datepicker-toggle matSuffix [for]="dom"></mat-datepicker-toggle>
                    <mat-datepicker #dom></mat-datepicker>
                </mat-form-field>
                <small *ngIf="form.controls['season_date'].hasError('required') && form.controls['season_date'].touched"
                    class="mat-text-warn">Ngày tạo vụ nuôi không được để trống.</small>
            </div>
        </div>
        <br>
        <div class="pb-1">
            <hr>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around">
            <button mat-flat-button class="mat-green-700">Thêm</button>
            <button mat-flat-button [mat-dialog-close]="true" color="warn">Huỷ</button>
        </div>
    </form>
</div>