<mat-toolbar color="primary">
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div fxFlex.gt-sm="55" fxFlex="100">
    <mat-card class="mat-card-top">
      <mat-tab-group color="primary">
        <mat-tab>
          <ng-template matTabLabel>Thông tin</ng-template>
          <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit_info()" fxLayout="column" fxFlexOffset="15" fxFlex="70" enctype="multipart/form-data">

              <mat-form-field class="p-1">
                <input matInput placeholder="Họ" [formControl]="form.controls['lastname']" autocomplete="off">
              </mat-form-field>
              <small *ngIf="form.controls['lastname'].hasError('required') && form.controls['lastname'].touched" class="mat-text-warn">Họ
                của bạn không được để trống.</small>

              <mat-form-field class="p-1">
                <input matInput placeholder="Tên" [formControl]="form.controls['firstname']" autocomplete="off">
              </mat-form-field>
              <small *ngIf="form.controls['firstname'].hasError('required') && form.controls['firstname'].touched"
                class="mat-text-warn">Tên của bạn không được để trống.</small>

              <mat-form-field class="p-1">
                <mat-label>Ngày sinh</mat-label>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="birthday" placeholder="Chọn một ngày"
                  autocomplete="off" [formControl]="form.controls['birthday']">
                <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                <mat-datepicker #birthday></mat-datepicker>
              </mat-form-field>
              <small *ngIf="form.controls['birthday'].hasError('required') && form.controls['birthday'].touched" class="mat-text-warn">Ngày
                sinh không được để trống.</small>

              <mat-form-field class="p-1">
                <input matInput placeholder="Số điện thoại liên hệ" [formControl]="form.controls['phone']" autocomplete="off">
              </mat-form-field>
              <small *ngIf="form.controls['phone'].hasError('required') && form.controls['phone'].touched" class="mat-text-warn">Số
                điện thoại liên hệ không được để trống.</small>

              <mat-form-field class="p-1">
                <mat-select placeholder="Tỉnh / Thành phố" [formControl]="form.controls['province']">
                  <mat-option >None</mat-option>
                  <mat-option *ngFor="let pro of province" [value]="pro ? pro.provinceid : null">{{ pro ? pro.name : null }}</mat-option>
                </mat-select>
              </mat-form-field>
              <small *ngIf="form.controls['province'].hasError('required') && form.controls['province'].touched" class="mat-text-warn">Bạn
                chưa chọn tỉnh / thành phố</small>

              <mat-form-field class="p-1">
                <mat-select placeholder="Quận / Huyện" [formControl]="form.controls['district']" (click)="loadDistrict(form.value.province)">
                  <mat-option >None</mat-option>
                  <mat-option *ngFor="let dis of district" [value]="dis ? dis.districtid : null">{{ dis ? dis.name : null }}</mat-option>
                </mat-select>
              </mat-form-field>
              <small *ngIf="form.controls['district'].hasError('required') && form.controls['district'].touched" class="mat-text-warn">Bạn
                chưa chọn quận / huyện</small>

              <mat-form-field class="p-1">
                <mat-select placeholder="Xã / Thị Trấn" [formControl]="form.controls['town']" (click)="loadTown(form.value.district)">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let w of ward" [value]=" w ? w.wardid : null">{{ w ? w.name : null }}</mat-option>                  
                </mat-select>
              </mat-form-field>
              <small *ngIf="form.controls['town'].hasError('required') && form.controls['town'].touched" class="mat-text-warn">Bạn
                chưa chọn xã / thị trấn</small>

              <mat-form-field class="p-1">
                <input matInput placeholder="Địa chỉ email" type="email" [formControl]="form.controls['email']"
                  autocomplete="off">
              </mat-form-field>
              <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="mat-text-warn">Địa
                chỉ email không được để trống.</small>
              <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="mat-text-warn">Địa
                chỉ email không hợp lệ.</small>

              <!-- <mat-card class="example-card">
                <mat-card-header class="mr-t-5">
                  <mat-card-title>
                    <button mat-flat-button class="mat-green-700" type="button">
                      <mat-icon>cloud_upload</mat-icon>&nbsp;
                      <label for="fileToUpload">
                        Tải ảnh lên
                      </label>
                    </button>
                  </mat-card-title>
                  <mat-card-subtitle>
                      <span class="mat-red-700" *ngIf="timeOut">{{ errorFile | async }}</span>
                      <input id="fileToUpload" type="file" hidden (change)="onFileChange($event)">
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <label for="fileToUpload">
                    <div class="imgLoading" mat-card-image title="Nhấn để tải ảnh lên" [ngStyle]="getImage()">
                      <div id="lable" *ngIf="preloader">
                        <div>
                          <hr/><hr/><hr/><hr/>
                        </div>
                      </div>
                    </div>
                  </label>
                </mat-card-content>
              </mat-card> -->
              <br>
              <mat-card class="mat-red-700" *ngIf="updateErrorTimeout"><div style="height: 20px;">Cập nhật lỗi, vui lòng thử lại sau!</div></mat-card>
              <br>
              <mat-card class="mat-green-700" *ngIf="updateSuccessTimeout"><div style="height: 20px;">Cập nhật thành công! Vui lòng đợi...</div></mat-card>
              <br>
              <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary" class="btn-block" [disabled]="!form.valid" type="submit">Lưu</button>
                <button mat-raised-button color="warn" routerLink="/thong-tin-ca-nhan">Huỷ</button>
              </mat-card-actions>

            </form>
          </mat-card-content>
        </mat-tab>
        <mat-tab>
          <ng-template matTabLabel>Mật khẩu</ng-template>
          <mat-card-content>
            <form [formGroup]="form_Pass" (ngSubmit)="onSubmit_Pass()" fxLayout="column" fxFlexOffset="15" fxFlex="70">

              <mat-form-field class="mb-1">
                <input matInput placeholder="Mật khẩu cũ" type="password" [formControl]="form_Pass.controls['oldPassword']"
                  autocomplete="off">
              </mat-form-field>
              <small *ngIf="form_Pass.controls['oldPassword'].hasError('required') && form_Pass.controls['oldPassword'].touched"
                class="mat-text-warn">Mật khẩu cũ thay đổi không được để trống.</small>

              <mat-form-field class="mb-1">
                <input matInput placeholder="Mật khẩu thay đổi" type="password" [formControl]="form_Pass.controls['newPassword']"
                  autocomplete="off">
              </mat-form-field>
              <small *ngIf="form_Pass.controls['newPassword'].hasError('required') && form_Pass.controls['newPassword'].touched"
                class="mat-text-warn">Mật khẩu thay đổi không được để trống.</small>
              <mat-form-field class="mb-1">
                <input matInput placeholder="Xác nhận mật khẩu thay đổi" type="password" [formControl]="form_Pass.controls['confirmNewPassword']"
                  autocomplete="off">
              </mat-form-field>
              <small *ngIf="form_Pass.controls['confirmNewPassword'].hasError('required') && form_Pass.controls['confirmNewPassword'].touched"
                class="mat-text-warn">Mật khẩu xác nhận không được để trống.</small>
              <small *ngIf="form_Pass.controls['confirmNewPassword'].errors?.equalTo" class="mat-text-warn">Mật khẩu xác
                nhận
                chưa đúng.</small>
              <hr>
              <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary" class="btn-block" [disabled]="!form_Pass.valid" type="submit">Lưu</button>
                <button mat-raised-button color="warn" routerLink="/thong-tin-ca-nhan">Huỷ</button>
              </mat-card-actions>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>

    </mat-card>
  </div>
</div>