<mat-card fxLayout="column">
    <div class="table-header" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>
            <h2 class="mat-headline center-align">THÊM HOẠT ĐỘNG CHO ĂN - {{ (pond ? pond.pondName : '') | uppercase }}</h2>
        </mat-card-title>
        <mat-card-subtitle>
            <h4 class="subtitle">Nhập chi tiết thông tin cho ăn của bạn</h4>
        </mat-card-subtitle>
    </div>
    <div fxLayout="rows">
        <form [formGroup]="form" class="mr" (ngSubmit)="onSubmit()" fxLayout="column" fxFlex="50" fxFlexOffset="25">
            <mat-form-field>
                <input matInput placeholder="Tên gợi nhắc lần cho ăn" [formControl]="form.controls['takeCareName']"
                    autocomplete="off" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Khối lượng vật nuôi (ước tính)" [formControl]="form.controls['massOfFishery']"
                    autocomplete="off" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Tỷ lệ cho ăn (%)" [formControl]="form.controls['feedingRate']" autocomplete="off" required>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <mat-select placeholder="Tên thức ăn" [formControl]="form.controls['storageId']" required>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let material of storages" [value]="material.storageId">{{ material.productName
                        }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="number" placeholder="Số lượng thức ăn" [formControl]="form.controls ['quantity']"
                    autocomplete="off" required>
            </mat-form-field>
            <br>

            <div class="mr-b-5" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button type="submit" color="primary" class="mr-5">Thêm</button>
                <button mat-raised-button (click)="cancel()" color="warn">Hủy</button>
            </div>
        </form>
    </div>
</mat-card>