<mat-card fxLayout="column">
    <mat-toolbar color="primary" class="table-header" fxLayout="row">
        <h2 class="mat-headline center-align" fxFlex='100'>Quản lý tăng trưởng</h2>
        <a mat-flat-button color="white" routerLink="/quan-ly-tang-truong/them" matTooltip="Thêm mới" *ngIf="checkSeasonPresent"
            matTooltipPosition="above" style="margin-right: 5px;">
            <mat-icon>library_add</mat-icon>
        </a>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="preloader" color="accent"></mat-progress-bar>
    <mat-sidenav-container class="background-none shadow-none" style="min-height: 450px; min-width: 100%;">
        <mat-sidenav #productsnav [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" class="pa-0 ma-0">
            <hr>
            <form [formGroup]="form">
                <div class="pa-1" fxLayout="column">
                    <mat-form-field fxFlex="100" *ngIf="isBoss">
                        <mat-select [(value)]="seasonSelected" [formControl]="form.controls['season']" placeholder="Tên vụ nuôi">`
                            <mat-option *ngFor="let season of seasons" [value]="season" (click)="changeSeason(season)">{{ season.seasonName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="100">
                        <mat-select [(value)]="pondSelected" [formControl]="form.controls['pond']" placeholder="Tên ao nuôi">
                            <mat-option *ngFor="let p of ponds" [value]="p" (click)="changePond(p)">{{ p.pondName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
            <hr>
        </mat-sidenav>
        <mat-toolbar color="primary" fxHide="false" fxHide.gt-sm>
            <button (click)="productsnav.toggle()" mat-icon-button>
                <mat-icon>short_text</mat-icon>
            </button>
            <span class="mr-1 ml-1">Xem theo</span>
        </mat-toolbar>

        <div fxLayout="row wrap">
            <div class="zoom" fxFlex="100">
                <mat-card>
                    <div fxLayout="row">
                        <div fxFlex="96" fxFlexOffset="2">
                            <br>
                            <div class="mb-1" [ngClass]="{'text-xs-center': !stacked}">
                                <button mat-raised-button color="warn" [ngClass]="{'active': !stacked}" (click)="stacked = !stacked">Chuyển
                                    đổi</button>
                            </div>
                            <div class="timeline" [ngClass]="{'stacked': stacked}">
                                <div class="timeline-card" *ngFor="let g of growths">
                                    <div class="timeline-icon mat-green"></div>
                                    <section class="timeline-content">
                                        <mat-card>
                                            <mat-card-content>
                                                <div fxLayout="row">
                                                    <div fxFlex="100">
                                                        <h4 class="ma-0 title-content">Ghi chú tăng trưởng</h4>
                                                    </div>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <a [routerLink]="['/quan-ly-tang-truong/chinh-sua', g.growthUUId]"
                                                        matTooltip="Sửa" matTooltipPosition="above">
                                                        <mat-icon>create</mat-icon>
                                                    </a>
                                                </div>
                                                <br>
                                                <hr style="color:#a2a2a2"><br>
                                                <div>
                                                    <p><b>Mật độ trung bình:</b> {{g.averageDensity}} (con/m²)</p>
                                                    <p><b>Sản lượng trung bình:</b> {{g.averageMass}} (g/con)</p>
                                                    <p><b>Tốc độ tăng trưởng:</b> {{g.speedOdGrowth}} (%)</p>
                                                    <p><b>Tỉ lệ sống:</b> {{g.livingRatio}} (%)</p>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                        <div class="timeline-date">{{g.createdDate | date:'dd/MM/yyyy HH:mm':'vi'}}</div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-container>
</mat-card>