<mat-card fxLayout="column">
  <mat-toolbar color="primary" class="table-header" fxLayout="row">
    <h2 class="mat-headline center-align" fxFlex='100'>Quản lý tăng trưởng</h2>
    <a mat-flat-button color="white" routerLink="/quan-ly-tang-truong/them-moi-tang-truong" matTooltip="Thêm mới"
      matTooltipPosition="above" style="margin-right: 5px;">
      <mat-icon>library_add</mat-icon>
    </a>
  </mat-toolbar>
  <mat-sidenav-container class="background-none shadow-none" style="min-height: 450px; min-width: 100%;">
    <mat-sidenav #productsnav [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" class="pa-0 ma-0">
      <hr>
      <div class="pa-1" fxLayout="column">
        <mat-form-field fxFlex="100">
          <mat-select [(value)]="selected" placeholder="Tên ao nuôi">
            <mat-option>None</mat-option>
            <mat-option value="option1">Ao 1</mat-option>
            <mat-option value="option2">Ao 2</mat-option>
            <mat-option value="option3">Ao 3</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="100">
          <mat-select [(value)]="selected" placeholder="Tên vụ nuôi">`
            <mat-option>None</mat-option>
            <mat-option value="option1">Vụ nuôi 1</mat-option>
            <mat-option value="option2">Vụ nuôi 2</mat-option>
            <mat-option value="option3">Vụ nuôi 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <hr>
    </mat-sidenav>
    <mat-toolbar color="primary" fxHide="false" fxHide.gt-sm>
      <button (click)="productsnav.toggle()" mat-icon-button>
        <mat-icon>short_text</mat-icon>
      </button>
      <span class="mr-1 ml-1">Xem theo</span>
    </mat-toolbar>

    <div fxLayout="row wrap">
      <div class="zoom" fxFlex="100">
        <mat-card>
          <div fxLayout="row">
            <div fxFlex="96" fxFlexOffset="2">
              <br>
              <div class="mb-1" [ngClass]="{'text-xs-center': !stacked}">
                <button mat-raised-button color="warn" [ngClass]="{'active': !stacked}" (click)="stacked = !stacked">Chuyển
                  đổi</button>
              </div>
              <div class="timeline" [ngClass]="{'stacked': stacked}">
                <div class="timeline-card">
                  <div class="timeline-icon mat-teal"></div>
                </div>
                <div class="timeline-card">
                  <div class="timeline-icon mat-grey"></div>
                  <section class="timeline-content">
                    <mat-card>
                      <mat-card-content>
                        <div fxLayout="row">
                          <div fxFlex="100">
                            <h4 class="ma-0 title-content">Ghi chú tăng trưởng</h4>
                          </div>
                          &nbsp;&nbsp;&nbsp;
                          <a routerLink="/quan-ly-tang-truong/chinh-sua-thong-tin-tang-truong" matTooltip="Sửa"
                            matTooltipPosition="above">
                            <mat-icon>create</mat-icon>
                          </a>
                        </div>
                        <br>
                        <hr style="color:#a2a2a2"><br>
                        <div>
                          <p><b>Mật độ trung bình:</b> Vừa phải</p>
                          <p><b>Sản lượng trung bình:</b> Tốt</p>
                          <p><b>Tốc độ tăng trưởng:</b> Tốt</p>
                          <p><b>Tỉ lệ sống:</b> Tốt</p>
                        </div>
                      </mat-card-content>
                    </mat-card>
                    <div class="timeline-date">13:12 am</div>
                  </section>
                </div>
                <div class="timeline-card">
                  <div class="timeline-icon mat-purple"></div>
                  <section class="timeline-content">
                    <mat-card>
                      <mat-card-content>
                        <div fxLayout="row">
                          <div fxFlex="100">
                            <h4 class="ma-0 title-content">Ghi chú tăng trưởng</h4>
                          </div>
                          &nbsp;&nbsp;&nbsp;
                          <a routerLink="/quan-ly-tang-truong/chinh-sua-thong-tin-tang-truong" matTooltip="Sửa"
                            matTooltipPosition="above">
                            <mat-icon>create</mat-icon>
                          </a>
                        </div>
                        <br>
                        <hr style="color:#a2a2a2"><br>
                        <div>
                          <p><b>Mật độ trung bình:</b> Vừa phải</p>
                          <p><b>Sản lượng trung bình:</b> Tốt</p>
                          <p><b>Tốc độ tăng trưởng:</b> Tốt</p>
                          <p><b>Tỉ lệ sống:</b> Tốt</p>
                        </div>
                      </mat-card-content>
                    </mat-card>
                    <div class="timeline-date">Yesterday</div>
                  </section>
                </div>
                <div class="timeline-card">
                  <div class="timeline-icon mat-green"></div>
                  <section class="timeline-content">
                    <mat-card>
                      <mat-card-content>
                        <div fxLayout="row">
                          <div fxFlex="100">
                            <h4 class="ma-0 title-content">Ghi chú tăng trưởng</h4>
                          </div>
                          &nbsp;&nbsp;&nbsp;
                          <a routerLink="/quan-ly-tang-truong/chinh-sua-thong-tin-tang-truong" matTooltip="Sửa"
                            matTooltipPosition="above">
                            <mat-icon>create</mat-icon>
                          </a>
                        </div>
                        <br>
                        <hr style="color:#a2a2a2"><br>
                        <div>
                          <p><b>Mật độ trung bình:</b> Vừa phải</p>
                          <p><b>Sản lượng trung bình:</b> Tốt</p>
                          <p><b>Tốc độ tăng trưởng:</b> Tốt</p>
                          <p><b>Tỉ lệ sống:</b> Tốt</p>
                        </div>
                      </mat-card-content>
                    </mat-card>
                    <div class="timeline-date">6 Days Ago</div>
                  </section>
                </div>
                <div class="timeline-card">
                  <div class="timeline-icon mat-lime"></div>
                  <section class="timeline-content">
                    <mat-card>
                      <mat-card-content>
                        <div fxLayout="row">
                          <div fxFlex="100">
                            <h4 class="ma-0 title-content">Ghi chú tăng trưởng</h4>
                          </div>
                          &nbsp;&nbsp;&nbsp;
                          <a routerLink="/quan-ly-tang-truong/chinh-sua-thong-tin-tang-truong" matTooltip="Sửa"
                            matTooltipPosition="above">
                            <mat-icon>create</mat-icon>
                          </a>
                        </div>
                        <br>
                        <hr style="color:#a2a2a2"><br>
                        <div>
                          <p><b>Mật độ trung bình:</b> Vừa phải</p>
                          <p><b>Sản lượng trung bình:</b> Tốt</p>
                          <p><b>Tốc độ tăng trưởng:</b> Tốt</p>
                          <p><b>Tỉ lệ sống:</b> Tốt</p>
                        </div>
                      </mat-card-content>
                    </mat-card>
                    <div class="timeline-date">2 Months Ago</div>
                  </section>
                </div>
                <div class="timeline-card">
                  <div class="timeline-icon mat-brown"></div>
                  <section class="timeline-content">
                    <mat-card>
                      <mat-card-content>
                        <div fxLayout="row">
                          <div fxFlex="100">
                            <h4 class="ma-0 title-content">Ghi chú tăng trưởng</h4>
                          </div>
                          &nbsp;&nbsp;&nbsp;
                          <a routerLink="/quan-ly-tang-truong/chinh-sua-thong-tin-tang-truong" matTooltip="Sửa"
                            matTooltipPosition="above">
                            <mat-icon>create</mat-icon>
                          </a>
                        </div>
                        <br>
                        <hr style="color:#a2a2a2"><br>
                        <div>
                          <p><b>Mật độ trung bình:</b> Vừa phải</p>
                          <p><b>Sản lượng trung bình:</b> Tốt</p>
                          <p><b>Tốc độ tăng trưởng:</b> Tốt</p>
                          <p><b>Tỉ lệ sống:</b> Tốt</p>
                        </div>
                      </mat-card-content>
                    </mat-card>
                    <div class="timeline-date">23 September 2013</div>
                  </section>
                </div>
                <div class="timeline-card">
                  <div class="timeline-icon mat-yellow"></div>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-container>
</mat-card>