<div fxLayout="column" style="padding: 10px 20px">
    <div fxLayout="column" class="mr-5">
        <h2 fxFlex="100" fxLayoutAlign="center center"><span>NHẬP <span *ngIf="type === 0">THỨC ĂN</span> <span *ngIf="type === 1">CƠ SỞ VẬT CHẤT</span> <span *ngIf="type === 2">THUỐC VÀ DƯỢC PHẨM</span> <span *ngIf="type === 3">GIỐNG</span>
                CHO KHO</span></h2>
        <P fxFlex="100" fxLayoutAlign="center center"><b>Ghi chú:</b>(<span style="color: red">*</span>) <i>Chỉ nhập
                thông
                tin cho <b *ngIf="type === 0">thức ăn</b> <b *ngIf="type === 1">cơ sở vật chất</b> <b *ngIf="type === 2">thuốc
                    và dược phẩm</b> <b *ngIf="type === 3">giống</b></i></P>
    </div>
    <hr>
    <div class="row">
        <div fxLayout="row">
            <button mat-button type="button" (click)="goToLink('thuc-an')" class="mat-teal mr-5" *ngIf="type !== 0"
                [ngClass]="{'animation': type === 0}">
                Nhập Thức Ăn
            </button>
            <button mat-button type="button" (click)="goToLink('co-so-vat-chat')" class="mat-purple mr-5" *ngIf="type !== 1"
                [ngClass]="{'animation': type === 1}">
                Nhập Cơ Sở Vật Chất
            </button>
            <button mat-button type="button" (click)="goToLink('thuoc-&-duoc-pham')" class="mat-light-blue-800 mr-5"
                *ngIf="type !== 2" [ngClass]="{'animation': type === 2}">
                Nhập Thuốc/Dược Phẩm
            </button>
            <button mat-button type="button" (click)="goToLink('giong-nuoi')" class="mat-indigo mr-5" *ngIf="type !== 3"
                [ngClass]="{'animation': type === 3}">
                Nhập Giống
            </button>
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>