<div fxLayout="column" style="padding: 10px 20px">
  <div fxLayout="row" fxLayoutAlign="end end" class="mr-5">
    <h3 fxFlex="100" fxLayoutAlign="center center"><span>NHẬP THÔNG TIN</span></h3>
  </div>
  <hr>
  <div class="row">
    <mat-tab-group mat-stretch-tabs class="pd-bottom-20" selectedIndex="0" backgroundColor="primary" color="accent">
      <mat-tab label="NHẬP KHO">
        <div class="mr-top-10">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div fxLayout="row">
              <div fxLayout="column" fxLayoutGap="5px" fxFlex="50" fxFlexOffset="25" fxFlex.md="60" fxFlexOffset.md="20"
                fxFlex.sm="80" fxFlexOffset.sm="10" fxFlex.xs="90" fxFlexOffset.xs="5">
                <mat-form-field>
                  <mat-select placeholder="Loại" required [(ngModel)]="selectedType" name="type" [formControl]="form.controls['type']">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Assignee" aria-label="Assignee" matInput [formControl]="form.controls['productName']" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.productName}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                  <mat-form-field fxFlex="50" fxFlex.xs="100">
                    <mat-label>Số lượng</mat-label>
                    <input matInput placeholder="Số lượng" value="" required autocomplete="off" [formControl]="form.controls['quantity']">
                  </mat-form-field>
                  <mat-form-field fxFlex="50" fxFlex.xs="100">
                    <mat-select placeholder="Đơn vị tính" required [(ngModel)]="selectedUnit" name="unit"  [formControl]="form.controls['unit']">
                      <mat-option *ngFor="let unit of units" [value]="unit.value">
                        {{unit.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <mat-form-field>
                  <mat-label>Giá/Đơn vị tính</mat-label>
                  <input matInput placeholder="Giá trên một đơn vị tính" value="" required autocomplete="off"  [formControl]="form.controls['unitPrice']">
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Nhà cung cấp</mat-label>
                  <input matInput placeholder="Nhà cung cấp" value="" required autocomplete="off" [formControl]="form.controls['provider']">
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Địa chỉ nhà cung cấp</mat-label>
                  <input matInput placeholder="Địa chỉ nhà cung cấp" value="" required autocomplete="off" [formControl]="form.controls['providerAddress']">
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Ghi chú</mat-label>
                  <textarea matInput placeholder="Thông tin chi tiết nhà cung cấp hoặc giá của từng đơn vị tính..." [formControl]="form.controls['descriptions']"></textarea>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="end center">
                  <button mat-raised-button class="mat-green-700" type="submit">Thêm</button>
                  <button mat-raised-button class="mat-red-700">Huỷ</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="NHẬP GIỐNG">
        <div class="mr-top-10">
          <form>
            <div fxLayout="row">
              <div fxLayout="column" fxLayoutGap="5px" fxFlex="50" fxFlexOffset="25" fxFlex.md="60" fxFlexOffset.md="20"
                fxFlex.sm="80" fxFlexOffset.sm="10" fxFlex.xs="90" fxFlexOffset.xs="5">
                <mat-form-field>
                  <mat-label>Tên giống</mat-label>
                  <input matInput placeholder="Tên giống" value="" required>
                </mat-form-field>

                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px">
                  <mat-form-field fxFlex="50" fxFlex.xs="100">
                    <mat-label>Số lượng</mat-label>
                    <input matInput placeholder="Số lượng" value="" required>
                  </mat-form-field>
                  <mat-form-field fxFlex="50" fxFlex.xs="100">
                    <mat-select placeholder="Đơn vị tính" required [(ngModel)]="selectedValue" name="unit">
                      <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <mat-form-field>
                  <mat-label>Tổng giá</mat-label>
                  <input matInput placeholder="Tổng giá" value="">
                </mat-form-field>

                <hr />

                <mat-form-field>
                  <mat-label>Vòng đời</mat-label>
                  <input matInput placeholder="Vòng đời" value="">
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Cơ quan kiểm định</mat-label>
                  <input matInput placeholder="Cơ quan kiểm định" value="">
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Chất lượng</mat-label>
                  <input matInput placeholder="Chất lượng qua đánh giá cảm quan" value="">
                </mat-form-field>

                <hr>

                <mat-form-field>
                  <mat-label>Nhà cung cấp</mat-label>
                  <input matInput placeholder="Nhà cung cấp" value="" required>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Ghi chú</mat-label>
                  <textarea matInput placeholder="Thông tin chi tiết nhà cung cấp hoặc giá của từng đơn vị tính..."></textarea>
                </mat-form-field>

                <div fxLayout="row" fxLayoutAlign="center center">
                  <button mat-raised-button class="mat-green-700 mr-5">Thêm</button>
                  <button mat-raised-button class="mat-red-700">Huỷ</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>