<mat-card fxLayout="column">
    <mat-toolbar color="primary" class="table-header" fxLayout="column">
        <h1 fxLayout="row" fxLayoutAlign="center center" fxFlex="100"><b>GHI NHẬT KÝ AO {{ (pond ? pond.pondName : '') | uppercase }}</b></h1>
        <h6 fxLayout="row" fxLayoutAlign="center center" fxFlex="100" style="font-size: 13px; opacity: 0.85;"><i>Điền thông tin vào mẫu dưới đây và nhấn nút </i><b> Thêm</b></h6>
    </mat-toolbar>
    <div fxLayout="rows" class="mr-b-5">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxFlex="50" fxFlexOffset="25">
            <mat-form-field>
                <input matInput placeholder="Tên gợi nhắc" [formControl]="form.controls['diaryName']" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Số lượng hiện tại trong ao - ước tính" [formControl]="form.controls['fisheryQuantity']" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Tình trạng vật nuôi" [formControl]="form.controls['healthOfFishery']" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Thể tích ao (m3)" [formControl]="form.controls['pondVolume']" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Số tôm, cá bị loại thải, chết (con)" [formControl]="form.controls['diedFishery']" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Ghi chú" cols="30" [formControl]="form.controls['notes']" rows="7"></textarea>
            </mat-form-field>
            <div class="mr-b-5">
                <button type="submit" mat-button>Thêm</button>
                <button type="submit" (click)="cancel()" mat-button>Hủy</button>
            </div>
        </form>
    </div>
</mat-card>