<mat-card fxLayout="column">
    <div class="table-header" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>
            <h2 class="mat-headline center-align">THÔNG TIN THẢ NUÔI</h2>
        </mat-card-title>
        <mat-card-subtitle>
            <h4 class="subtitle">Sửa chi tiết thông tin thả nuôi nuôi của bạn</h4>
        </mat-card-subtitle>
    </div>
    <div fxLayout="row">
        <div fxFlexOffset="20" fxFlex="60" fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset.sm="10" fxFlex.sm="80"
            fxFlexOffset.md="15" fxFlex.md="70">
            <div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" style="font-size:20px">
                    <mat-card-content fxLayout="column">
                        <mat-form-field>
                            <mat-select [(value)]="selected" placeholder="Giống nuôi" [formControl]="form.controls['breedId']"
                                required>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let breed of breeds" [value]="breed.breedId">{{ breed.breedName }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <small *ngIf="form.controls['breedId'].hasError('required') && form.controls['breedId'].touched"
                            class="mat-text-warn">Chưa chọn giống nuôi.</small>
                        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.sm="0"
                            fxLayoutGap.xs="0">
                            <mat-form-field fxFlex="100">
                                <input matInput placeholder="Số lượng thả (con)" type="number" [formControl]="form.controls['stockingQuantity']"
                                    autocomplete="off" required>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutGap.sm="0"
                            fxLayoutGap.xs="0">
                            <div fxFlex="100">
                                <small *ngIf="form.controls['stockingQuantity'].hasError('required') && form.controls['stockingQuantity'].touched"
                                    class="mat-text-warn">Số lượng thả không được trống.</small>
                            </div>
                        </div>
                    </mat-card-content>
                    <hr>
                    <mat-card-actions>
                        <div fxLayout="row" fxLayoutAlign="center center" class="pad">
                            <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Cập nhật</button>
                            <button mat-raised-button color="warn" type="submit" routerLink="/quan-ly-tha-nuoi">Huỷ</button>
                        </div>
                    </mat-card-actions>
                </form>
            </div>
        </div>
    </div>

</mat-card>