<mat-card fxLayout="column">
    <div class="table-header" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>
            <h2 class="mat-headline center-align">THÔNG TIN THẢ NUÔI</h2>
        </mat-card-title>
        <mat-card-subtitle>
            <h4 class="subtitle">Chọn một ao cụ thể để ghi thông tin thả nuôi của ao đó</h4>
        </mat-card-subtitle>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="preloader" color="accent"></mat-progress-bar>
    <div fxLayout="row">
        <mat-sidenav-container class="background-none shadow-none" style="min-height: 450px; min-width: 100%;">
            <div fxLayout="row wrap">
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="33.3333%" fxFlex="100" *ngFor="let pond of ponds">
                    <mat-card class="pointer" (click)="gotoAdd(pond.pondUUId)" matTooltip="Nhấp chuột để chọn ao nuôi" matTooltipPosition="above">
                        <div class="media-grid">
                            <figure>
                                <div class="product-badge" *ngIf="pond.status === 0 "><span>Trống</span></div>
                                <div class="product-badge-maintenance" *ngIf="pond.status === 2 "><span>Sửa</span></div>
                                <!-- <div class="media-grid compact bg-cover" [ngStyle]="{'background-image': 'url('+ (pond.image || imagePlaceHolder) +')'}"
                                    fxFlex="45">
                                </div> -->
                                <img [src]="pond.image || imagePlaceHolder" height="150px" width="100%" style="background-size: cover">
                            </figure>
                        </div>
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div fxFlex>
                                    <h4 class="ma-0" style="text-transform: uppercase; font-weight: 500">{{
                                        pond['pondName'] }}</h4>
                                </div>
                                <span>
                                    <mat-icon>pan_tool</mat-icon>
                                </span>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-sidenav-container>
    </div>
    <br>
</mat-card>