<mat-card fxLayout="column">
    <mat-toolbar color="primary" class="table-header" fxLayout="rows">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
            <h1 fxLayout="row" fxLayoutAlign="center center" fxFlex="100"><b>BẢNG THỐNG KÊ SỬ DỤNG THUỐC VÀ DƯỢC PHẨM</b></h1>
            <h6 fxLayout="row" fxLayoutAlign="center center" fxFlex="100" style="font-size: 13px; opacity: 0.85;"><i>Bảng thống hoạt động sử thuốc và dược phẩm trong 30 ngày gần nhất</i></h6>
        </div>
        <div fxLayout="column">
            <button mat-raised-button (click)="goto('/su-dung-thuoc-&-duoc-pham/danh-sach-ao')" color="accent">Thêm</button>
        </div>
    </mat-toolbar>
    <div fxLayout="rows" class="mr-b-5">

    </div>
</mat-card>