<mat-card fxLayout="column">
    <mat-toolbar color="primary" class="table-header" fxLayout="rows">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
            <h1 fxLayout="row" fxLayoutAlign="center center" fxFlex="100"><b>BẢNG THỐNG KÊ SỬ DỤNG THUỐC VÀ DƯỢC PHẨM</b></h1>
            <h6 fxLayout="row" fxLayoutAlign="center center" fxFlex="100" style="font-size: 13px; opacity: 0.85;"><i>Bảng thống hoạt động sử thuốc và dược phẩm trong 30 ngày gần nhất</i></h6>
        </div>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="preloader" color="accent"></mat-progress-bar>
    <mat-sidenav-container class="background-none shadow-none height">
            <!-- <mat-sidenav #productsnav [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" class="pa-0 ma-0">
                <div class="pl-1 pr-1 pb-1">
                    <h3>Price</h3>
                    <mat-slider value="43"></mat-slider>
                </div>
                <hr>
    
                <div class="pa-1">
                    <h3 class="mt-1">Brand</h3>
                    <div class="pb-1">
                        <mat-checkbox>Apple</mat-checkbox>
                    </div>
                </div>
                <hr>
    
                <div class="pa-1">
                    <h3>Screen Size</h3>
                    <div class="pb-1">
                        <mat-checkbox>16 GB</mat-checkbox>
                    </div>
                </div>
                <hr>
    
                <div class="pa-1">
                    <h3>OS</h3>
                    <div class="pb-1">
                        <mat-checkbox>Android</mat-checkbox>
                    </div>
                </div>
    
                <div class="pa-1">
                    <button mat-raised-button color="primary">Filter</button>
                </div>
    
            </mat-sidenav> -->
            <div *ngIf="isBoss" class="mr">
                <form>
                    <mat-form-field>
                        <mat-select placeholder="Vụ nuôi" [(ngModel)]="seasonPresent" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let s of seasons" [value]="s" (click)="changeSeason(s)">
                                {{ s.seasonName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <mat-divider *ngIf="isBoss"></mat-divider>
            <!-- <mat-toolbar color="primary" fxHide="false" fxHide.gt-sm>
                <button (click)="productsnav.toggle()" mat-icon-button>
                    <mat-icon>short_text</mat-icon>
                </button>
                <span class="mr-1 ml-1">Filter</span>
            </mat-toolbar> -->
    
            <div fxLayout="row wrap">
                <div fxFlex.gt-sm="25" fxFlex.gt-xs="33.3333%" fxFlex="100" *ngFor="let pond of ponds">
                    <mat-card>
                        <div class="media-grid">
                            <figure>
                                <!-- <div class="product-badge" *ngIf="pond.isFed === '1'" matTooltip="Chưa cho ăn" matTooltipPosition="above" (click)="gotoAdd(pond.pondUUId)"><span>
                                        <mat-icon>error_outline</mat-icon>
                                    </span></div> -->
                                <img [src]="pond.images" height="150px" width="100%" style="background-size: cover">
                                <figcaption>
                                    <p>
                                        <a href="javascript:;" matTooltip="Thêm nhật ký sử dụng thuốc" (click)="gotoAdd(pond.pondUUId)"
                                            matTooltipPosition="left">
                                            <mat-icon>add_alert</mat-icon>
                                        </a>
                                        <a href="javascript:;" matTooltip="Xem thống kê" matTooltipPosition="left">
                                            <mat-icon>timeline</mat-icon>
                                        </a>
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                        <mat-card-content>
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <div fxFlex>
                                    <p class="ma-0">{{ pond.pondName }}</p>
                                    <p class="ma-0 pa-0 text-md">Tôm</p>
                                </div>
                                <div class="mat-text-primary text-xl">
                                    <span class="strikethrough mat-text-muted text-sm">$ 20.3</span>
                                    <!-- <span class="strikethrough mat-text-muted text-sm" *ngIf="product.discounted === 'discounted'">$ 20.3</span> -->
                                    <span> $ 15.2</span>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-sidenav-container>
</mat-card>