<mat-card fxLayout="column">
  <div class="table-header" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>
      <h2 class="mat-headline center-align">THÊM THÔNG TIN CHẤT THẢI</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <h4 class="subtitle">Nhập chi tiết thông tin chất thải</h4>
    </mat-card-subtitle>
  </div>

  <div fxLayout="row">
    <div fxFlexOffset="20" fxFlex="60" fxFlexOffset.xs="5" fxFlex.xs="90" fxFlexOffset.sm="10" fxFlex.sm="80"
      fxFlexOffset.md="15" fxFlex.md="70">
      <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-card-content fxLayout="column">
            <mat-form-field>
              <mat-select [(value)]="selected" placeholder="Danh mục" [formControl]="form.controls['card']" required>
                <mat-option>None</mat-option>
                <mat-option value="0">Hoá chất quá hạn sử dụng</mat-option>
                <mat-option value="1">Rác</mat-option>
                <mat-option value="2">Xác tôm, cá</mat-option>
                <mat-option value="3">Chất thải</mat-option>
                <mat-option value="4">Khác</mat-option>
              </mat-select>
            </mat-form-field>
            <small *ngIf="form.controls['card'].hasError('required') && form.controls['card'].touched" class="mat-text-warn">Chưa
              chọn danh mục.</small>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.sm="0"
              fxLayoutGap.xs="0">
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Số lượng hoặc trọng lượng" #sl type="number" min="1" [formControl]="form.controls['quantity']"
                  autocomplete="off" required>
              </mat-form-field>
              <mat-form-field fxFlex="100">
                <input matInput placeholder="Người xử lý" type="text" [formControl]="form.controls['employee']"
                  autocomplete="off">
              </mat-form-field>
                        </div>
                        <small *ngIf="form.controls['quantity'].hasError('required') && form.controls['quantity'].touched"
                            class="mat-text-warn">Số
                            lượng hoặc trọng lượng không được để trống.</small>
                        <mat-form-field fxFlex="100">
                            <mat-label>Phương pháp giải quyết</mat-label>
                            <textarea matInput placeholder="Ghi chú lại phương pháp và cách xử lý một cách chi tiết nhất"
                                rows="5" [formControl]="form.controls['solutions']"></textarea>
                        </mat-form-field>
                    </mat-card-content>
                    <hr>
                    <mat-card-actions>
                        <div fxLayout="row" fxLayoutAlign="center center" class="pad">
                            <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Thêm</button>
                            <button mat-raised-button color="warn" routerLink="/quan-ly-chat-thai">Huỷ</button>
                        </div>
                    </mat-card-actions>
                </form>
                <br>
            </div>
        </div>
    </div>
    <br>
</mat-card>